# Montaje de la base de datos

In [56]:
import pandas as pd
import seaborn as sns

# Data on testing for COVID-19 by week and country.

In [57]:
testing = pd.read_excel("C:/Users/Patricia/Downloads/Limpieza de Archivos Fuente/Data on testing for COVID-19 by week and country/Data on testing for COVID-19 by week and country.xlsx")

In [58]:
testing

,country,country_code,year_week,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source
0,Austria,AT,2020-W01,national,AT,Austria,NaN,NaN,8932664,NaN,NaN,NaN
1,Austria,AT,2020-W02,national,AT,Austria,NaN,NaN,8932664,NaN,NaN,NaN
2,Austria,AT,2020-W03,national,AT,Austria,NaN,NaN,8932664,NaN,NaN,NaN
3,Austria,AT,2020-W04,national,AT,Austria,NaN,NaN,8932664,NaN,NaN,NaN
4,Austria,AT,2020-W05,national,AT,Austria,NaN,NaN,8932664,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5006,Sweden,SE,2023-W06,national,SE,Sweden,1042.0,15416.0,10379295,148.526465,6.759211,TESSy
5007,Sweden,SE,2023-W07,national,SE,Sweden,813.0,11130.0,10379295,107.232717,7.304582,TESSy
5008,Sweden,SE,2023-W08,national,SE,Sweden,646.0,8481.0,10379295,81.710752,7.617026,TESSy
5009,Sweden,SE,2023-W09,national,SE,Sweden,731.0,7896.0,10379295,76.074531,9.257852,TESSy
5010,Sweden,SE,2023-W10,national,SE,Sweden,871.0,7834.0,10379295,75.477188,11.118203,TESSy

In [59]:
testing.isna().sum()

country                  0
country_code             0
year_week                0
level                    0
region                   0
region_name              0
new_cases              821
tests_done             790
population               0
testing_rate           790
positivity_rate        835
testing_data_source    790
dtype: int64

In [60]:
testing.shape

(5011, 12)

In [68]:
testing.dtypes

country                 object
country_code            object
year_week               object
level                   object
region                  object
region_name             object
new_cases              float64
tests_done             float64
population               int64
testing_rate           float64
positivity_rate        float64
testing_data_source     object
dtype: object

In [74]:
for columna in testing.columns:
    longitud_maxima = testing[columna].astype(str).str.len().max()
    print(f"Longitud máxima en la columna '{columna}': {longitud_maxima}")

Longitud máxima en la columna 'country': 13
Longitud máxima en la columna 'country_code': 2
Longitud máxima en la columna 'year_week': 8
Longitud máxima en la columna 'level': 8
Longitud máxima en la columna 'region': 2
Longitud máxima en la columna 'region_name': 13
Longitud máxima en la columna 'new_cases': 9
Longitud máxima en la columna 'tests_done': 9
Longitud máxima en la columna 'population': 8
Longitud máxima en la columna 'testing_rate': 19
Longitud máxima en la columna 'positivity_rate': 18
Longitud máxima en la columna 'testing_data_source': 11

# datos_combinados_csse_covid_19_daily_reports_us

In [24]:
dailyus = pd.read_csv("C:/Users/Patricia/Downloads/Limpieza de Archivos Fuente/Csse_covid_19_daily_reports_us/datos_combinados_csse_covid_19_daily_reports_us.csv", sep = ',')

In [25]:
dailyus

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,...,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate,Date,People_Tested,Mortality_Rate
0,Alabama,US,2021-01-02 05:30:44,32.3182,-86.9023,365747,4872,202137.0,158738.0,1.0,...,NaN,NaN,1.332068,84000001.0,USA,NaN,NaN,2021-01-01,NaN,NaN
1,Alaska,US,2021-01-02 05:30:44,61.3707,-152.4044,47019,206,7165.0,39648.0,2.0,...,1275750.0,NaN,0.438121,84000002.0,USA,174391.185778,NaN,2021-01-01,NaN,NaN
2,American Samoa,US,2021-01-02 05:30:44,-14.2710,-170.1320,0,0,NaN,NaN,60.0,...,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN,2021-01-01,NaN,NaN
3,Arizona,US,2021-01-02 05:30:44,33.7298,-111.4312,530267,9015,76934.0,444318.0,4.0,...,5155330.0,NaN,1.700087,84000004.0,USA,39551.860582,NaN,2021-01-01,NaN,NaN
4,Arkansas,US,2021-01-02 05:30:44,34.9697,-92.3731,229442,3711,199247.0,26484.0,5.0,...,2051488.0,NaN,1.617402,84000005.0,USA,67979.497674,NaN,2021-01-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61609,Virginia,US,2023-01-01 04:31:23,37.7693,-78.1700,2199302,22670,NaN,NaN,51.0,...,NaN,NaN,1.030782,84000051.0,USA,NaN,NaN,NaN,NaN,NaN
61610,Washington,US,2023-01-01 04:31:23,47.4009,-121.4905,1883676,15038,NaN,NaN,53.0,...,NaN,NaN,0.798333,84000053.0,USA,NaN,NaN,NaN,NaN,NaN
61611,West Virginia,US,2023-01-01 04:31:23,38.4912,-80.9545,624721,7672,NaN,NaN,54.0,...,NaN,NaN,1.228068,84000054.0,USA,NaN,NaN,NaN,NaN,NaN
61612,Wisconsin,US,2023-01-01 04:31:23,44.2685,-89.6165,1960878,15802,NaN,NaN,55.0,...,NaN,NaN,0.805863,84000055.0,USA,NaN,NaN,NaN,NaN,NaN
61613,Wyoming,US,2023-01-01 04:31:23,42.7560,-107.3025,182847,1958,NaN,NaN,56.0,...,NaN,NaN,1.070841,84000056.0,USA,NaN,NaN,NaN,NaN,NaN

In [26]:
dailyus.isna().sum()

Province_State              0
Country_Region              0
Last_Update                19
Lat                      2142
Long_                    2142
Confirmed                   0
Deaths                      0
Recovered               46492
Active                  46492
FIPS                       19
Incident_Rate            2142
Total_Test_Results      24977
People_Hospitalized     56485
Case_Fatality_Ratio     12587
UID                         0
ISO3                        0
Testing_Rate            15693
Hospitalization_Rate    56485
Date                     9860
People_Tested           49798
Mortality_Rate          49587
dtype: int64

In [28]:
dailyus.shape

(61614, 21)

In [73]:
for columna in dailyus.columns:
    longitud_maxima = dailyus[columna].astype(str).str.len().max()
    print(f"Longitud máxima en la columna '{columna}': {longitud_maxima}")

Longitud máxima en la columna 'Province_State': 24
Longitud máxima en la columna 'Country_Region': 2
Longitud máxima en la columna 'Last_Update': 19
Longitud máxima en la columna 'Lat': 7
Longitud máxima en la columna 'Long_': 9
Longitud máxima en la columna 'Confirmed': 8
Longitud máxima en la columna 'Deaths': 6
Longitud máxima en la columna 'Recovered': 9
Longitud máxima en la columna 'Active': 9
Longitud máxima en la columna 'FIPS': 7
Longitud máxima en la columna 'Incident_Rate': 18
Longitud máxima en la columna 'Total_Test_Results': 11
Longitud máxima en la columna 'People_Hospitalized': 7
Longitud máxima en la columna 'Case_Fatality_Ratio': 18
Longitud máxima en la columna 'UID': 10
Longitud máxima en la columna 'ISO3': 3
Longitud máxima en la columna 'Testing_Rate': 22
Longitud máxima en la columna 'Hospitalization_Rate': 18
Longitud máxima en la columna 'Date': 10
Longitud máxima en la columna 'People_Tested': 10
Longitud máxima en la columna 'Mortality_Rate': 18

# Data on hospital and ICU admission rates and current occupancy for COVID-19

In [38]:
icu = pd.read_csv("C:/Users/Patricia/Downloads/Limpieza de Archivos Fuente/ICU/ICU.csv")

In [39]:
icu

,country,indicator,date,year_week,value,source,url
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.000000,Country_Website,NaN
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.000000,Country_Website,NaN
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.000000,Country_Website,NaN
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.000000,Country_Website,NaN
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.000000,Country_Website,NaN
...,...,...,...,...,...,...,...
27272,Sweden,Weekly new ICU admissions per 100k,2023-04-23,2023-W16,0.172210,TESSy COVID-19 combined sources,NaN
27273,Sweden,Weekly new ICU admissions per 100k,2023-04-30,2023-W17,0.162643,TESSy COVID-19 combined sources,NaN
27274,Sweden,Weekly new ICU admissions per 100k,2023-05-07,2023-W18,0.095672,TESSy COVID-19 combined sources,NaN
27275,Sweden,Weekly new ICU admissions per 100k,2023-05-14,2023-W19,0.095672,TESSy COVID-19 combined sources,NaN
27276,Sweden,Weekly new ICU admissions per 100k,2023-05-21,2023-W20,0.086105,TESSy COVID-19 combined sources,NaN

In [40]:
icu.isna().sum()

country          0
indicator        0
date             0
year_week        0
value            0
source           0
url          27277
dtype: int64

In [75]:
for columna in icu.columns:
    longitud_maxima = icu[columna].astype(str).str.len().max()
    print(f"Longitud máxima en la columna '{columna}': {longitud_maxima}")

Longitud máxima en la columna 'country': 13
Longitud máxima en la columna 'indicator': 39
Longitud máxima en la columna 'date': 10
Longitud máxima en la columna 'year_week': 8
Longitud máxima en la columna 'value': 18
Longitud máxima en la columna 'source': 49
Longitud máxima en la columna 'url': 3

# Vaccination metadata

In [41]:
vaccmeta = pd.read_csv("C:/Users/Patricia/Downloads/Limpieza de Archivos Fuente/Vaccination metadata/Vaccination metadata.csv")

In [42]:
vaccmeta

,ISO3,VACCINE_NAME,PRODUCT_NAME,COMPANY_NAME,AUTHORIZATION_DATE,START_DATE,END_DATE,COMMENT,DATA_SOURCE
0,SHN,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
1,GRL,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
2,FRO,Moderna - mRNA-1273,mRNA-1273,Moderna,NaN,NaN,NaN,NaN,OWID
3,FRO,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,NaN,NaN,NaN,NaN,OWID
4,BIH,AstraZeneca - AZD1222,AZD1222,AstraZeneca,NaN,NaN,NaN,NaN,OWID
...,...,...,...,...,...,...,...,...,...
1095,AND,Pfizer BioNTech - Comirnaty Bivalent Original/...,Comirnaty Bivalent Original/Omicron BA.4/BA.5,NaN,NaN,2023-03-22,NaN,NaN,REPORTING
1096,DEU,Moderna – Spikevax Bivalent Original/Omicron ...,Moderna – Spikevax Bivalent Original/Omicron ...,NaN,NaN,2022-09-14,NaN,NaN,REPORTING
1097,SVN,Moderna – Spikevax Bivalent Original/Omicron ...,Moderna – Spikevax Bivalent Original/Omicron ...,NaN,NaN,2022-12-21,NaN,NaN,REPORTING
1098,DEU,Pfizer BioNTech - Comirnaty Bivalent Original/...,Pfizer BioNTech - Comirnaty Bivalent Original/...,NaN,NaN,2022-09-07,NaN,NaN,REPORTING
1099,SVN,Pfizer BioNTech - Comirnaty Bivalent Original/...,Pfizer BioNTech - Comirnaty Bivalent Original/...,NaN,NaN,2022-09-21,NaN,NaN,REPORTING

In [43]:
vaccmeta.isna().sum()

ISO3                     0
VACCINE_NAME             0
PRODUCT_NAME             1
COMPANY_NAME            47
AUTHORIZATION_DATE     610
START_DATE             286
END_DATE              1100
COMMENT               1100
DATA_SOURCE              0
dtype: int64

In [ ]:
vaccmeta.shape

In [76]:
for columna in vaccmeta.columns:
    longitud_maxima = vaccmeta[columna].astype(str).str.len().max()
    print(f"Longitud máxima en la columna '{columna}': {longitud_maxima}")

Longitud máxima en la columna 'ISO3': 3
Longitud máxima en la columna 'VACCINE_NAME': 63
Longitud máxima en la columna 'PRODUCT_NAME': 63
Longitud máxima en la columna 'COMPANY_NAME': 49
Longitud máxima en la columna 'AUTHORIZATION_DATE': 10
Longitud máxima en la columna 'START_DATE': 10
Longitud máxima en la columna 'END_DATE': 3
Longitud máxima en la columna 'COMMENT': 3
Longitud máxima en la columna 'DATA_SOURCE': 9

# Vaccination data

In [46]:
vacc = pd.read_csv("C:/Users/Patricia/Downloads/Limpieza de Archivos Fuente/Vaccination data/Vaccination data.csv")

In [47]:
vacc

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Afghanistan,AFG,EMRO,REPORTING,2023-06-11,20000706.0,16978090,51.378,43.614,16271662,41.799,NaN,2021-02-22,11.0,1973605.0,5.070
1,Albania,ALB,EURO,REPORTING,2023-05-14,3080679.0,1348396,107.000,47.379,1277987,44.905,NaN,2021-01-13,6.0,399190.0,14.027
2,Algeria,DZA,AFRO,REPORTING,2022-09-04,15267442.0,7840131,34.817,17.879,6481186,14.780,NaN,2021-01-30,4.0,575651.0,1.313
3,American Samoa,ASM,WPRO,REPORTING,2023-03-29,114706.0,46206,207.812,83.711,42479,76.959,NaN,2020-12-21,3.0,24160.0,43.770
4,Andorra,AND,EURO,REPORTING,2023-04-09,157038.0,57910,203.200,76.020,53496,70.226,NaN,2021-01-20,4.0,43067.0,56.535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Viet Nam,VNM,WPRO,REPORTING,2023-06-01,266419940.0,90268546,273.704,92.737,85953004,88.303,NaN,2021-03-08,6.0,57951664.0,59.536
225,Wallis and Futuna,WLF,WPRO,REPORTING,2023-01-23,17303.0,7150,153.859,63.578,6803,60.493,NaN,2021-03-19,1.0,3350.0,29.788
226,Yemen,YEM,EMRO,REPORTING,2023-04-18,1275368.0,1032545,4.276,3.462,788707,2.644,NaN,2021-04-20,11.0,63989.0,0.215
227,Zambia,ZMB,AFRO,REPORTING,2023-04-09,13614983.0,11637730,74.059,63.304,9147920,49.760,NaN,2021-04-14,3.0,1137360.0,6.187
228,Zimbabwe,ZWE,AFRO,REPORTING,2023-05-14,13935112.0,7208256,93.758,48.498,5386882,36.244,NaN,2021-02-18,4.0,2002841.0,13.475

In [61]:
vacc.isna().sum()

Name                                                              1
WHO Region                                                        0
Cases - cumulative total                                          1
Cases - cumulative total per 100000 population                    0
Cases - newly reported in last 7 days                             1
Cases - newly reported in last 7 days per 100000 population       0
Cases - newly reported in last 24 hours                           0
Deaths - cumulative total                                         1
Deaths - cumulative total per 100000 population                   0
Deaths - newly reported in last 7 days                            1
Deaths - newly reported in last 7 days per 100000 population      0
Deaths - newly reported in last 24 hours                        238
dtype: int64

In [62]:
vacc.shape

(238, 12)

In [77]:
for columna in vacc.columns:
    longitud_maxima = vacc[columna].astype(str).str.len().max()
    print(f"Longitud máxima en la columna '{columna}': {longitud_maxima}")

Longitud máxima en la columna 'Name': 21
Longitud máxima en la columna 'WHO Region': 9
Longitud máxima en la columna 'Cases - cumulative total': 16
Longitud máxima en la columna 'Cases - cumulative total per 100000 population': 6
Longitud máxima en la columna 'Cases - newly reported in last 7 days': 17
Longitud máxima en la columna 'Cases - newly reported in last 7 days per 100000 population': 4
Longitud máxima en la columna 'Cases - newly reported in last 24 hours': 7
Longitud máxima en la columna 'Deaths - cumulative total': 17
Longitud máxima en la columna 'Deaths - cumulative total per 100000 population': 4
Longitud máxima en la columna 'Deaths - newly reported in last 7 days': 18
Longitud máxima en la columna 'Deaths - newly reported in last 7 days per 100000 population': 2
Longitud máxima en la columna 'Deaths - newly reported in last 24 hours': 3

# Latest reported counts of cases and deaths

In [54]:
casesanddeaths = pd.read_csv("C:/Users/Patricia/Downloads/Limpieza de Archivos Fuente/Latest reported counts of cases and deaths/Latest reported counts of cases and deaths.csv")

In [52]:
casesanddeaths

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
Global,NaN,761402282,9768.405152,534869,6.862098,2692,6887000,88.356717,4243,0.054436,25,NaN
United States of America,Americas,102697566,31026.206000,152968,46.214000,0,1117054,337.476000,2084,0.630000,0,NaN
China,Western Pacific,99238143,6744.989000,503,0.034000,0,120894,8.217000,70,0.005000,0,NaN
India,South-East Asia,44707525,3239.665000,9407,0.682000,0,530841,38.467000,28,0.002000,0,NaN
France,Europe,38677413,59467.703000,42503,65.350000,3,161857,248.860000,122,0.188000,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Holy See,Europe,26,3213.844000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Tokelau,Western Pacific,5,370.370000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Pitcairn Islands,Western Pacific,4,8000.000000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Democratic People's Republic of Korea,South-East Asia,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN
Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0,NaN

In [55]:
casesanddeaths.isna().sum()

Name                                                              1
WHO Region                                                        0
Cases - cumulative total                                          1
Cases - cumulative total per 100000 population                    0
Cases - newly reported in last 7 days                             1
Cases - newly reported in last 7 days per 100000 population       0
Cases - newly reported in last 24 hours                           0
Deaths - cumulative total                                         1
Deaths - cumulative total per 100000 population                   0
Deaths - newly reported in last 7 days                            1
Deaths - newly reported in last 7 days per 100000 population      0
Deaths - newly reported in last 24 hours                        238
dtype: int64

In [63]:
casesanddeaths.shape

(238, 12)

In [78]:
for columna in casesanddeaths.columns:
    longitud_maxima = casesanddeaths[columna].astype(str).str.len().max()
    print(f"Longitud máxima en la columna '{columna}': {longitud_maxima}")

Longitud máxima en la columna 'Name': 21
Longitud máxima en la columna 'WHO Region': 9
Longitud máxima en la columna 'Cases - cumulative total': 16
Longitud máxima en la columna 'Cases - cumulative total per 100000 population': 6
Longitud máxima en la columna 'Cases - newly reported in last 7 days': 17
Longitud máxima en la columna 'Cases - newly reported in last 7 days per 100000 population': 4
Longitud máxima en la columna 'Cases - newly reported in last 24 hours': 7
Longitud máxima en la columna 'Deaths - cumulative total': 17
Longitud máxima en la columna 'Deaths - cumulative total per 100000 population': 4
Longitud máxima en la columna 'Deaths - newly reported in last 7 days': 18
Longitud máxima en la columna 'Deaths - newly reported in last 7 days per 100000 population': 2
Longitud máxima en la columna 'Deaths - newly reported in last 24 hours': 3