<a href="https://colab.research.google.com/github/patriciaapenat/TFM/blob/main/Notebooks/prueba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [167]:
import pandas as pd
import mysql.connector

In [168]:
df_paises= pd.read_csv('C:/Users/joschava/Dropbox/TFM COVID/Entregables/2023.10 Entrega Final/Tablas Soporte/paises.csv')
df_paises

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2,country_code_x,longitude_x,...,latitude_y,GDP per capita (current US$),Individuals using the Internet (% of population),People using at least basic drinking water services (% of population),People using at least basic sanitation services (% of population),Population density (people per sq. km of land area),Rural population (% of total population),Urban population (% of total population),AverageTemperature,Altura Promedio
0,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola,AO,17.873887,...,-11.202692,1502.950754,32.550147,57.167738,51.660329,26.813577,33.175,66.825,22.508965,1112.0
1,BDI,BI,Burundi,AF,Africa,AFRO,Africa,Burundi,BI,29.918886,...,-3.373056,216.827417,3.787954,62.207122,45.727511,475.865537,86.292,13.708,20.816609,1504.0
2,BEN,BJ,Benin,AF,Africa,AFRO,Africa,Benin,BJ,2.315834,...,9.307690,1237.949295,28.229154,65.414123,16.962884,112.124184,51.585,48.415,27.937785,273.0
3,BFA,BF,Burkina Faso,AF,Africa,AFRO,Africa,Burkina Faso,BF,-1.561593,...,12.238333,833.244336,13.937972,47.214854,21.664373,78.664569,69.393,30.607,28.909989,297.0
4,BWA,BW,Botswana,AF,Africa,AFRO,Africa,Botswana,BW,24.684866,...,-22.328474,5875.070606,72.748020,92.213563,80.026243,4.493148,29.123,70.877,22.505484,1013.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,VCT,VC,Saint Vincent and the Grenadines,NaN,North America,AMRO,América,Saint Vincent and the Grenadines,VC,-61.287228,...,12.984305,8306.367581,80.429529,NaN,NaN,268.287179,46.968,53.032,NaN,NaN
245,VGB,VG,British Virgin Islands,NaN,North America,AMRO,América,British Virgin Islands,VG,-64.639968,...,18.420695,NaN,NaN,99.864384,NaN,206.066667,51.485,48.515,27.242333,NaN
246,BLM,BL,San Bartolomé,NaN,North America,AMRO,América,Saint Barthélemy,NaN,-62.830000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,MAF,MF,San Martín,NaN,North America,AMRO,América,Saint Martin,NaN,NaN,...,NaN,NaN,NaN,99.999271,100.000000,651.060000,NaN,NaN,NaN,NaN
248,SXM,SX,San Martín,NaN,North America,AMRO,América,San Martín,NaN,NaN,...,NaN,29314.094295,NaN,NaN,NaN,1244.411765,0.000,100.000,NaN,NaN

In [169]:
df_paises.drop(['country_code_x','country_code_y','longitude_x','latitude_x'], axis=1, inplace=True)
df_paises

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2,POBLACION,longitude_y,latitude_y,GDP per capita (current US$),Individuals using the Internet (% of population),People using at least basic drinking water services (% of population),People using at least basic sanitation services (% of population),Population density (people per sq. km of land area),Rural population (% of total population),Urban population (% of total population),AverageTemperature,Altura Promedio
0,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola,35588987.0,17.873887,-11.202692,1502.950754,32.550147,57.167738,51.660329,26.813577,33.175,66.825,22.508965,1112.0
1,BDI,BI,Burundi,AF,Africa,AFRO,Africa,Burundi,12889576.0,29.918886,-3.373056,216.827417,3.787954,62.207122,45.727511,475.865537,86.292,13.708,20.816609,1504.0
2,BEN,BJ,Benin,AF,Africa,AFRO,Africa,Benin,13352864.0,2.315834,9.307690,1237.949295,28.229154,65.414123,16.962884,112.124184,51.585,48.415,27.937785,273.0
3,BFA,BF,Burkina Faso,AF,Africa,AFRO,Africa,Burkina Faso,22673762.0,-1.561593,12.238333,833.244336,13.937972,47.214854,21.664373,78.664569,69.393,30.607,28.909989,297.0
4,BWA,BW,Botswana,AF,Africa,AFRO,Africa,Botswana,2630296.0,24.684866,-22.328474,5875.070606,72.748020,92.213563,80.026243,4.493148,29.123,70.877,22.505484,1013.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,VCT,VC,Saint Vincent and the Grenadines,NaN,North America,AMRO,América,Saint Vincent and the Grenadines,103948.0,-61.287228,12.984305,8306.367581,80.429529,NaN,NaN,268.287179,46.968,53.032,NaN,NaN
245,VGB,VG,British Virgin Islands,NaN,North America,AMRO,América,British Virgin Islands,31305.0,-64.639968,18.420695,NaN,NaN,99.864384,NaN,206.066667,51.485,48.515,27.242333,NaN
246,BLM,BL,San Bartolomé,NaN,North America,AMRO,América,Saint Barthélemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,MAF,MF,San Martín,NaN,North America,AMRO,América,Saint Martin,31791.0,NaN,NaN,NaN,NaN,99.999271,100.000000,651.060000,NaN,NaN,NaN,NaN
248,SXM,SX,San Martín,NaN,North America,AMRO,América,San Martín,43389.0,NaN,NaN,29314.094295,NaN,NaN,NaN,1244.411765,0.000,100.000,NaN,NaN

In [170]:
df_paises.isnull().values.sum()

553

In [171]:
df_paises.isnull().sum()

PAIS_ISO3                                                                 0
PAIS_ISO2                                                                 0
PAIS_NOM                                                                  0
COD_CONTINENTE                                                           39
CONTINENTE                                                                0
OMS_REGION                                                                0
DESC_OMS_REGION                                                           0
PAIS_NOM_2                                                                0
POBLACION                                                                34
longitude_y                                                               8
latitude_y                                                                8
GDP per capita (current US$)                                             41
Individuals using the Internet (% of population)                         64
People using at least basic drinking water services (% of population)    52
People using at least basic sanitation services (% of population)        61
Population density (people per sq. km of land area)                      34
Rural population (% of total population)                                 35
Urban population (% of total population)                                 35
AverageTemperature                                                       50
Altura Promedio                                                          92
dtype: int64

In [172]:
df_paises= df_paises.fillna(0)
df_paises.head(10)

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2,POBLACION,longitude_y,latitude_y,GDP per capita (current US$),Individuals using the Internet (% of population),People using at least basic drinking water services (% of population),People using at least basic sanitation services (% of population),Population density (people per sq. km of land area),Rural population (% of total population),Urban population (% of total population),AverageTemperature,Altura Promedio
0,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola,35588987.0,17.873887,-11.202692,1502.950754,32.550147,57.167738,51.660329,26.813577,33.175,66.825,22.508965,1112.0
1,BDI,BI,Burundi,AF,Africa,AFRO,Africa,Burundi,12889576.0,29.918886,-3.373056,216.827417,3.787954,62.207122,45.727511,475.865537,86.292,13.708,20.816609,1504.0
2,BEN,BJ,Benin,AF,Africa,AFRO,Africa,Benin,13352864.0,2.315834,9.307690,1237.949295,28.229154,65.414123,16.962884,112.124184,51.585,48.415,27.937785,273.0
3,BFA,BF,Burkina Faso,AF,Africa,AFRO,Africa,Burkina Faso,22673762.0,-1.561593,12.238333,833.244336,13.937972,47.214854,21.664373,78.664569,69.393,30.607,28.909989,297.0
4,BWA,BW,Botswana,AF,Africa,AFRO,Africa,Botswana,2630296.0,24.684866,-22.328474,5875.070606,72.748020,92.213563,80.026243,4.493148,29.123,70.877,22.505484,1013.0
5,CAF,CF,Central African Republic,AF,Africa,AFRO,Africa,Central African Republic,5579144.0,20.939444,6.611111,435.469248,8.565672,37.202402,14.118635,8.576551,57.802,42.198,25.987834,0.0
6,CIV,CI,Cote d'Ivoire,AF,Africa,AFRO,Africa,Côte d’Ivoire,28160542.0,-5.547080,7.539989,2349.069882,41.373605,70.909070,34.565962,84.313805,48.294,51.706,0.000000,250.0
7,CMR,CM,Cameroon,AF,Africa,AFRO,Africa,Cameroon,27914536.0,12.354722,7.369722,1539.130547,45.529223,65.720418,44.631124,56.040886,42.440,57.560,25.067210,667.0
8,COD,CD,Congo (Kinshasa),AF,Africa,AFRO,Africa,Democratic Republic of the Congo,99010212.0,21.758664,-4.038333,524.666686,22.864948,45.952127,15.388672,40.957705,54.362,45.638,0.000000,726.0
9,COG,CG,Congo (Brazzaville),AF,Africa,AFRO,Africa,Congo,5970424.0,15.827659,-0.228021,1838.448124,0.000000,73.784512,20.459746,16.697435,32.171,67.829,0.000000,430.0

In [173]:
df_paises.isnull().sum()

PAIS_ISO3                                                                0
PAIS_ISO2                                                                0
PAIS_NOM                                                                 0
COD_CONTINENTE                                                           0
CONTINENTE                                                               0
OMS_REGION                                                               0
DESC_OMS_REGION                                                          0
PAIS_NOM_2                                                               0
POBLACION                                                                0
longitude_y                                                              0
latitude_y                                                               0
GDP per capita (current US$)                                             0
Individuals using the Internet (% of population)                         0
People using at least basic drinking water services (% of population)    0
People using at least basic sanitation services (% of population)        0
Population density (people per sq. km of land area)                      0
Rural population (% of total population)                                 0
Urban population (% of total population)                                 0
AverageTemperature                                                       0
Altura Promedio                                                          0
dtype: int64

In [174]:
df_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 20 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   PAIS_ISO3                                                              249 non-null    object
 1   PAIS_ISO2                                                              249 non-null    object
 2   PAIS_NOM                                                               249 non-null    object
 3   COD_CONTINENTE                                                         249 non-null    object
 4   CONTINENTE                                                             249 non-null    object
 5   OMS_REGION                                                             249 non-null    object
 6   DESC_OMS_REGION                                                        249 non-null    object
 7   PAIS_NOM_2                                                             249 non-null    object
 8   POBLACION                                                              249 non-null    float64
 9   longitude_y                                                            249 non-null    float64
 10  latitude_y                                                             249 non-null    float64
 11  GDP per capita (current US$)                                           249 non-null    float64
 12  Individuals using the Internet (% of population)                       249 non-null    float64
 13  People using at least basic drinking water services (% of population)  249 non-null    float64
 14  People using at least basic sanitation services (% of population)      249 non-null    float64
 15  Population density (people per sq. km of land area)                    249 non-null    float64
 16  Rural population (% of total population)                               249 non-null    float64
 17  Urban population (% of total population)                               249 non-null    float64
 18  AverageTemperature                                                     249 non-null    float64
 19  Altura Promedio                                                        249 non-null    float64
dtypes: float64(12), object(8)
memory usage: 39.0+ KB

In [175]:
df_paises = df_paises.reindex(columns =['PAIS_ISO3','PAIS_ISO2','PAIS_NOM','COD_CONTINENTE','CONTINENTE','OMS_REGION','DESC_OMS_REGION','PAIS_NOM_2','POBLACION','longitude_y','latitude_y','GDP per capita (current US$)','Individuals using the Internet (% of population)','People using at least basic drinking water services (% of population)','People using at least basic sanitation services (% of population)','Population density (people per sq. km of land area)','Rural population (% of total population)','Urban population (% of total population)','AverageTemperature','Altura Promedio'])

In [176]:
df_paises.columns =['PAIS_ISO3','PAIS_ISO2','PAIS_NOM','COD_CONTINENTE','CONTINENTE','OMS_REGION','DESC_OMS_REGION','PAIS_NOM_2','POBLACION','LONGITUD','LATITUD','GDP_PER_CAPITA','USO_INDIVIDUAL_INTERNET','USO_DE_AGUA_POTABLE','USO_DE_SERVICIOS_BASICOS_SANEAMIENTO','DENSIDAD_DE_POBLACION_X_KM2','POBLACION_RURAL','POBLACION_URBANA','TEMPERATURA_PROMEDIO','ALTURA_PROMEDIO',]

In [177]:
df_paises['LONGITUD'] = pd.to_numeric(df_paises['LONGITUD'], errors="coerce")
df_paises['LATITUD'] = pd.to_numeric(df_paises['LATITUD'], errors="coerce")
df_paises['POBLACION'] = pd.to_numeric(df_paises['POBLACION'], errors="coerce")
df_paises['USO_INDIVIDUAL_INTERNET'] = pd.to_numeric(df_paises['USO_INDIVIDUAL_INTERNET'], errors="coerce")
df_paises['USO_DE_AGUA_POTABLE'] = pd.to_numeric(df_paises['USO_DE_AGUA_POTABLE'], errors="coerce")
df_paises['USO_DE_SERVICIOS_BASICOS_SANEAMIENTO'] = pd.to_numeric(df_paises['USO_DE_SERVICIOS_BASICOS_SANEAMIENTO'], errors="coerce")
df_paises['DENSIDAD_DE_POBLACION_X_KM2'] = pd.to_numeric(df_paises['DENSIDAD_DE_POBLACION_X_KM2'], errors="coerce")
df_paises['POBLACION_RURAL'] = pd.to_numeric(df_paises['POBLACION_RURAL'], errors="coerce")
df_paises['POBLACION_URBANA'] = pd.to_numeric(df_paises['POBLACION_URBANA'], errors="coerce")
df_paises['ALTURA_PROMEDIO'] = pd.to_numeric(df_paises['ALTURA_PROMEDIO'], errors="coerce")
df_paises['TEMPERATURA_PROMEDIO'] = pd.to_numeric(df_paises['TEMPERATURA_PROMEDIO'], errors="coerce")
df_paises['GDP_PER_CAPITA'] = pd.to_numeric(df_paises['GDP_PER_CAPITA'], errors="coerce")

In [178]:
df_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   PAIS_ISO3                             249 non-null    object
 1   PAIS_ISO2                             249 non-null    object
 2   PAIS_NOM                              249 non-null    object
 3   COD_CONTINENTE                        249 non-null    object
 4   CONTINENTE                            249 non-null    object
 5   OMS_REGION                            249 non-null    object
 6   DESC_OMS_REGION                       249 non-null    object
 7   PAIS_NOM_2                            249 non-null    object
 8   POBLACION                             249 non-null    float64
 9   LONGITUD                              249 non-null    float64
 10  LATITUD                               249 non-null    float64
 11  GDP_PER_CAPITA                        249 non-null    float64
 12  USO_INDIVIDUAL_INTERNET               249 non-null    float64
 13  USO_DE_AGUA_POTABLE                   249 non-null    float64
 14  USO_DE_SERVICIOS_BASICOS_SANEAMIENTO  249 non-null    float64
 15  DENSIDAD_DE_POBLACION_X_KM2           249 non-null    float64
 16  POBLACION_RURAL                       249 non-null    float64
 17  POBLACION_URBANA                      249 non-null    float64
 18  TEMPERATURA_PROMEDIO                  249 non-null    float64
 19  ALTURA_PROMEDIO                       249 non-null    float64
dtypes: float64(12), object(8)
memory usage: 39.0+ KB

In [179]:
df_paises[df_paises.select_dtypes(include='object').columns] = df_paises.select_dtypes(include='object').astype('str')
df_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   PAIS_ISO3                             249 non-null    object
 1   PAIS_ISO2                             249 non-null    object
 2   PAIS_NOM                              249 non-null    object
 3   COD_CONTINENTE                        249 non-null    object
 4   CONTINENTE                            249 non-null    object
 5   OMS_REGION                            249 non-null    object
 6   DESC_OMS_REGION                       249 non-null    object
 7   PAIS_NOM_2                            249 non-null    object
 8   POBLACION                             249 non-null    float64
 9   LONGITUD                              249 non-null    float64
 10  LATITUD                               249 non-null    float64
 11  GDP_PER_CAPITA                        249 non-null    float64
 12  USO_INDIVIDUAL_INTERNET               249 non-null    float64
 13  USO_DE_AGUA_POTABLE                   249 non-null    float64
 14  USO_DE_SERVICIOS_BASICOS_SANEAMIENTO  249 non-null    float64
 15  DENSIDAD_DE_POBLACION_X_KM2           249 non-null    float64
 16  POBLACION_RURAL                       249 non-null    float64
 17  POBLACION_URBANA                      249 non-null    float64
 18  TEMPERATURA_PROMEDIO                  249 non-null    float64
 19  ALTURA_PROMEDIO                       249 non-null    float64
dtypes: float64(12), object(8)
memory usage: 39.0+ KB

In [180]:
import pyodbc
server = 'servidortfmcovid-v2.database.windows.net'
database = 'basedatostfmcovid-v2'
username = 'admintfmcovid_v2'
password = 'TFMcovid2023!_v2'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# Nombre de la tabla en la base de datos
nombre_de_tabla = 'dbo.PAISES'  # Reemplaza 'MiTabla' por el nombre de tu tabla

# Eliminar registros
cursor.execute(f"DELETE FROM {nombre_de_tabla}")

# Inserta los datos del DataFrame en la tabla
for index, row in df_paises.iterrows():
    insert_query = f"INSERT INTO {nombre_de_tabla} ({', '.join(df_paises.columns)}) VALUES ({', '.join(['?'] * len(df_paises.columns))})"
    cursor.execute(insert_query, tuple(row))
    cnxn.commit()

# Cierra la conexión
cnxn.close()