<a href="https://colab.research.google.com/github/patriciaapenat/TFM/blob/main/Notebooks/Carga%20ficheros%20a%20BBDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clonación del Repositorio de GitHub **TFM**

In [1]:
! git clone https://github.com/patriciaapenat/TFM.git

Cloning into 'TFM'...
remote: Enumerating objects: 217, done.
remote: Counting objects: 100% (113/113), done.
remote: Compressing objects: 100% (68/68), done.
remote: Total 217 (delta 65), reused 78 (delta 44), pack-reused 104
Receiving objects: 100% (217/217), 10.33 MiB | 15.70 MiB/s, done.
Resolving deltas: 100% (110/110), done.

# Conexión BBDD  y Carga de Ficheros - TFM COVID -19

Instalar librerías de **MySQl** para establecer la Conexión con la **BBDD**

In [ ]:
import pandas as pd
import numpy as np

#!pip install mysql-connector-python
#!pip install sqlalchemy
#!pip install PyMySql
#!pip install ipython-sql

Instalar la libreria **xlrd** para importar **ficheros xls**

In [ ]:
#!pip install xlrd

Establezco conexión con la **BBDD SQL** con Pandas

In [ ]:
import mysql.connector

In [ ]:
try:
    connection=mysql.connector.connect(
        host='localhost',
        port= 3306,
        user= 'root',
        password='Juanky_123',
        db= 'prova_tfm'
    )
    if connection.is_connected():
        print('Conexión establecida correctamente')
        info_server=connection.get_server_info()
        print(info_server)

except Exception as ex:
    print(ex)
finally:
        if connection.is_connected():
            connection.close()
            print('Conexión finalizada')

Conexión establecida correctamente
8.0.31
Conexión finalizada

Cargo el **Pluggin para sql**

In [ ]:
%load_ext sql

Conexión a **MySQL** BBDD **local** mediante sql

In [ ]:
%sql mysql+pymysql://root:Juanky_123@localhost/prova_tfm

In [ ]:
%sql show tables

 * mysql+pymysql://root:***@localhost/prova_tfm
9 rows affected.

[('casos_confirmados_defunciones_us',),
 ('casos_hospitalizados_uci_eu',),
 ('ciudades',),
 ('covid_daily',),
 ('df_covid_último_recuento',),
 ('paises',),
 ('testing_covid_eu',),
 ('vacunaciones',),
 ('vacunas_tipos',)]

Conexión a **MySQL** BBDD **en Python**

In [ ]:
from sqlalchemy import create_engine

conn = create_engine('mysql+pymysql://root:Juanky_123@localhost/prova_tfm')

In [ ]:
conn

Engine(mysql+pymysql://root:***@localhost/prova_tfm)

# Interacción con la BBDD

Instrucciones SQL para describir, mostrar, cargar ficheros a la **BBDD**

Verificar estructura de la Tabla Maestra **paises**

In [ ]:
%sql DESC paises

 * mysql+pymysql://root:***@localhost/prova_tfm
8 rows affected.

[('PAIS_ISO3', 'varchar(3)', 'NO', 'PRI', None, ''),
 ('PAIS_ISO2', 'varchar(2)', 'NO', '', None, ''),
 ('PAIS_NOM', 'varchar(100)', 'NO', '', None, ''),
 ('COD_CONTINENTE', 'varchar(2)', 'NO', '', None, ''),
 ('CONTINENTE', 'varchar(100)', 'NO', '', None, ''),
 ('OMS_REGION', 'varchar(5)', 'NO', '', None, ''),
 ('DESC_OMS_REGION', 'varchar(100)', 'NO', '', None, ''),
 ('PAIS_NOM_2', 'varchar(100)', 'NO', '', None, '')]

In [ ]:
df_paises = pd.read_csv('paises_region_oms_v2.csv')
df_paises

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2
0,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola
1,BDI,BI,Burundi,AF,Africa,AFRO,Africa,Burundi
2,BEN,BJ,Benin,AF,Africa,AFRO,Africa,Benin
3,BFA,BF,Burkina Faso,AF,Africa,AFRO,Africa,Burkina Faso
4,BWA,BW,Botswana,AF,Africa,AFRO,Africa,Botswana
...,...,...,...,...,...,...,...,...
244,VCT,VC,Saint Vincent and the Grenadines,NaN,North America,AMRO,América,Saint Vincent and the Grenadines
245,VGB,VG,British Virgin Islands,NaN,North America,AMRO,América,British Virgin Islands
246,BLM,BL,San Bartolomé,NaN,North America,AMRO,América,Saint Barthélemy
247,MAF,MF,San Martín,NaN,North America,AMRO,América,Saint Martin
248,SXM,SX,San Martín,NaN,North America,AMRO,América,San Martín

In [ ]:
df_paises.isnull().values.sum()

40

In [ ]:
df_paises.isnull().sum()

PAIS_ISO3          0
PAIS_ISO2          0
PAIS_NOM           0
COD_CONTINENTE     0
CONTINENTE         0
OMS_REGION         0
DESC_OMS_REGION    0
PAIS_NOM_2         0
dtype: int64

In [ ]:
df_paises= df_paises.fillna('NA')
df_paises.head()

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2
0,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola
1,BDI,BI,Burundi,AF,Africa,AFRO,Africa,Burundi
2,BEN,BJ,Benin,AF,Africa,AFRO,Africa,Benin
3,BFA,BF,Burkina Faso,AF,Africa,AFRO,Africa,Burkina Faso
4,BWA,BW,Botswana,AF,Africa,AFRO,Africa,Botswana

In [ ]:
#df_paises[df_paises['COD_CONTINENTE']=="NA"]

Sustituyo los valores nulos del Continente **North America** por el **Cod_Continente** "NA"

df_paises=df_paises.fillna('NA')
df_paises.head()

Borro los datos de la tabla **paises**

In [ ]:
%sql delete from paises

 * mysql+pymysql://root:***@localhost/prova_tfm
249 rows affected.

[]

Importo los datos a la BBDD de la tabla **paises**

In [ ]:
df_paises.to_sql('paises', con = conn, if_exists = 'append', index=False)

249

Acceso a la **tabla paises  de la BBDD** e importación al **df_paises**

In [ ]:
from sqlalchemy import create_engine,text

engine = create_engine("mysql+pymysql://root:Juanky_123@localhost/prova_tfm")
query = 'SELECT * FROM paises'

with engine.begin() as conn:
 df_paises= pd.read_sql_query(sql=text(query), con=conn)

df_paises.head()

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2
0,ABW,AW,Aruba,NA,North America,AMRO,América,Aruba
1,AFG,AF,Afghanistan,AS,Asia,EMRO,Mediterráneo Oriental,Afghanistan
2,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola
3,AIA,AI,Anguilla,NA,North America,AMRO,América,Anguilla
4,ALB,AL,Albania,EU,Europe,EURO,Europa,Albania

# Borrado y Carga de ficheros depurados a la BBDD local

1.- Carga del **df_daily_report_us_final.csv** depurado y actualizado

In [ ]:
df_daily_us = pd.read_csv('df_daily_report_us_final.csv')
df_daily_us.head()

,PROVINCIA_ESTADO,CASOS_CONFIRMADOS,DEFUNCIONES,CASOS_RECUPERADOS,CASOS_ACTIVOS,PAIS_ISO3,FECHA
0,Alabama,365747,4872,202137.0,158738.0,USA,01.01.2021
1,Alaska,47019,206,7165.0,39648.0,USA,01.01.2021
2,American Samoa,0,0,NaN,NaN,ASM,01.01.2021
3,Arizona,530267,9015,76934.0,444318.0,USA,01.01.2021
4,Arkansas,229442,3711,199247.0,26484.0,USA,01.01.2021

Borrado de la Tabla **casos_confirmados_defunciones_us** y carga del dataframe depurado **df_daily_us** a la BBDD

In [ ]:
%sql delete from casos_confirmados_defunciones_us

 * mysql+pymysql://root:***@localhost/prova_tfm
123120 rows affected.

[]

In [ ]:
df_daily_us.to_sql('casos_confirmados_defunciones_us', con = conn, if_exists = 'append', index=False)

61560

Verifico estructura de tabla de la  BBDD **casos_confirmados_defunciones_us**

In [ ]:
#%sql DESC casos_confirmados_defunciones_us

2.- Carga del **df_covid_daily_new.csv** depurado y actualizado

In [ ]:
df_covid_daily = pd.read_csv('df_covid_daily_new.csv')
df_covid_daily.head()

,PAIS_NOM,PAIS_ISO3,PAIS_ISO2,FECHA_INFORMADA,OMS_REGION,CASOS_NUEVOS,CASOS_ACUM,MUERTES_NUEVAS,MUERTES_ACUM
0,Afghanistan,AFG,AF,03-01-2020,EMRO,0,0,0,0
1,Afghanistan,AFG,AF,04-01-2020,EMRO,0,0,0,0
2,Afghanistan,AFG,AF,05-01-2020,EMRO,0,0,0,0
3,Afghanistan,AFG,AF,06-01-2020,EMRO,0,0,0,0
4,Afghanistan,AFG,AF,07-01-2020,EMRO,0,0,0,0

Borrado de la Tabla **covid_daily** y carga del dataframe **df_covid_daily** a la BBDD

In [ ]:
%sql delete from covid_daily

 * mysql+pymysql://root:***@localhost/prova_tfm
603402 rows affected.

[]

In [ ]:
df_covid_daily.to_sql('covid_daily', con = conn, if_exists = 'append', index=False)

301701

3.- Carga del **df_latest_reported_counts_of_cases_and_deaths.csv** depurado y actualizado

In [ ]:
df_latest_daily = pd.read_csv('df_latest_reported_counts_of_cases_and_deaths.csv')
df_latest_daily.head()

,PAIS_ISO3,OMS_REGION,CASOS_ACUM_TOTAL,CASOS_ACUM_TOTAL_POR_100000_HAB,CASOS_NUEVOS_INFORMADOS_ULT_7_DIAS,CASOS_NUEVOS_INFORMADOS_ULT_7_DIAS_POR_100000_HAB,CASOS_NUEVOS_INFORMADOS_ULT_24H,MUERTES_ACUM_INFORMADAS_ULT_7_DIAS,MUERTES_ACUM_TOTAL_POR_100000_HAB,MUERTES_NUEVAS_INFORMADAS_ULT_7_DIAS,MUERTES_NUEVAS_INFORMADAS_ULT_7_DIAS_POR_100000_HAB,MUERTES_NUEVAS_INFORMADAS_ULT_24H
0,USA,Americas,102697566,31026.206,152968,46.214,0,1117054,337.476,2084,0.630,0
1,CHN,Western Pacific,99238143,6744.989,503,0.034,0,120894,8.217,70,0.005,0
2,IND,South-East Asia,44707525,3239.665,9407,0.682,0,530841,38.467,28,0.002,0
3,FRA,Europe,38677413,59467.703,42503,65.350,3,161857,248.860,122,0.188,0
4,DEU,Europe,38338298,46098.129,21329,25.646,0,170493,205.001,51,0.061,0

Borrado de la Tabla **casos_covid_ultimo_recuento** y carga del dataframe **df_latest_daily** a la BBDD

In [ ]:
%sql delete from casos_covid_ultimo_recuento

 * mysql+pymysql://root:***@localhost/prova_tfm
0 rows affected.

[]

In [ ]:
df_latest_daily.to_sql('casos_covid_ultimo_recuento', con = conn, if_exists = 'append', index=False)

236

4.- Carga del **df_hosp_UCI_NEW.csv** depurado y actualizado

In [ ]:
df_hosp_uci = pd.read_csv('df_hosp_UCI_NEW.csv')
df_hosp_uci.head()

,PAIS_ISO3,PAIS_NOM,INDICADOR,FECHA,ANY_SEMANA,VALOR,FUENTE_ORIGEN
0,AUT,Austria,Daily hospital occupancy,01-04-2020,2020-14,856.0,Country_Website
1,AUT,Austria,Daily hospital occupancy,02-04-2020,2020-14,823.0,Country_Website
2,AUT,Austria,Daily hospital occupancy,03-04-2020,2020-14,829.0,Country_Website
3,AUT,Austria,Daily hospital occupancy,04-04-2020,2020-14,826.0,Country_Website
4,AUT,Austria,Daily hospital occupancy,05-04-2020,2020-14,712.0,Country_Website

Borrado de la Tabla **casos_hospitalizados_uci_eu** y carga del dataframe **df_hosp_uci** a la BBDD

In [ ]:
%sql delete from casos_hospitalizados_uci_eu

 * mysql+pymysql://root:***@localhost/prova_tfm
27518 rows affected.

[]

In [ ]:
df_hosp_uci.to_sql('casos_hospitalizados_uci_eu', con = conn, if_exists = 'append', index=False)

27633

5.- Carga del **df_testing_covid_eu.csv** depurado y actualizado

In [ ]:
df_testing = pd.read_csv('df_testing_covid_eu.csv')
df_testing.head()

,PAIS_ISO3,ANY_SEMANA,NIVEL,CASOS_NUEVOS,N_TESTS_REALIZADOS,POBLACION,RATIO_TESTS,RATIO_POSITIVO,FUENTES_TESTS
0,AUT,2020-41,national,7487.0,124663.0,8978929,1388.394986,6.005792,TESSy COVID-19
1,AUT,2020-42,national,9898.0,129647.0,8978929,1443.902719,7.634577,TESSy COVID-19
2,AUT,2020-43,national,18262.0,158997.0,8978929,1770.779121,11.485751,TESSy COVID-19
3,AUT,2020-44,national,31613.0,167926.0,8978929,1870.223052,18.825554,TESSy COVID-19
4,AUT,2020-45,national,44772.0,199567.0,8978929,2222.614746,22.434571,TESSy COVID-19

Borrado de la Tabla **testing_covid_eu** y carga del dataframe **df_testing** a la BBDD

In [ ]:
%sql delete from testing_covid_eu

 * mysql+pymysql://root:***@localhost/prova_tfm
4384 rows affected.

[]

In [ ]:
df_testing.to_sql('testing_covid_eu', con = conn, if_exists = 'append', index=False)

4384

6.- Carga del **df_vacunation.csv** depurado y actualizado

In [ ]:
df_vacunation = pd.read_csv('df_vacunation.csv')
df_vacunation.head()

,PAIS,PAIS_ISO3,CONTINENTE,ISO_CONTINENTE,OMS_REGION,FUENTE_DATOS,FECHA_ULT_ACTUALIZACION,TOTAL_VACUNACION_ACUM,NPER_VACUNADAS_1DOSIS,TOTAL_VACUNACION_PER100,NPER_VACUNADAS_1DOSIS_PER100,NPER_VACUNADAS_DOSIS_FULL,NPER_VACUNADAS_DOSIS_FULL_PER100,FECHA_PRIMERA_VACUNA,N_TIPOS_VACUNAS_USADAS,NPER_CON_DOSIS_ADICIONAL,NPER_CON_DOSIS_ADIDICIONAL_PER100
0,Algeria,DZA,Africa,AF,AFRO,REPORTING,04-09-2022,15267442.0,7840131,34.817,17.879,6481186,14.780,30-01-2021,4.0,575651.0,1.313
1,Angola,AGO,Africa,AF,AFRO,REPORTING,18-06-2023,25962530.0,15980639,78.994,48.623,9010599,27.416,10-03-2021,1.0,2220003.0,6.755
2,Armenia,ARM,Asia,AS,EURO,REPORTING,04-06-2023,2158796.0,1122646,72.900,37.886,996804,33.639,27-01-2021,10.0,45446.0,1.534
3,Aruba,ABW,North America,NaN,AMRO,REPORTING,02-06-2023,216974.0,90449,203.224,84.717,84297,78.955,17-02-2021,2.0,35659.0,33.399
4,Brazil,BRA,South America,SA,AMRO,REPORTING,02-06-2023,513329718.0,188746389,241.499,88.797,171459392,80.664,17-01-2021,5.0,110382337.0,51.930

In [ ]:
df_vacunation = df_vacunation.fillna('NA')
df_vacunation.head()

,PAIS,PAIS_ISO3,CONTINENTE,ISO_CONTINENTE,OMS_REGION,FUENTE_DATOS,FECHA_ULT_ACTUALIZACION,TOTAL_VACUNACION_ACUM,NPER_VACUNADAS_1DOSIS,TOTAL_VACUNACION_PER100,NPER_VACUNADAS_1DOSIS_PER100,NPER_VACUNADAS_DOSIS_FULL,NPER_VACUNADAS_DOSIS_FULL_PER100,FECHA_PRIMERA_VACUNA,N_TIPOS_VACUNAS_USADAS,NPER_CON_DOSIS_ADICIONAL,NPER_CON_DOSIS_ADIDICIONAL_PER100
0,Algeria,DZA,Africa,AF,AFRO,REPORTING,04-09-2022,15267442.0,7840131,34.817,17.879,6481186,14.780,30-01-2021,4.0,575651.0,1.313
1,Angola,AGO,Africa,AF,AFRO,REPORTING,18-06-2023,25962530.0,15980639,78.994,48.623,9010599,27.416,10-03-2021,1.0,2220003.0,6.755
2,Armenia,ARM,Asia,AS,EURO,REPORTING,04-06-2023,2158796.0,1122646,72.900,37.886,996804,33.639,27-01-2021,10.0,45446.0,1.534
3,Aruba,ABW,North America,NA,AMRO,REPORTING,02-06-2023,216974.0,90449,203.224,84.717,84297,78.955,17-02-2021,2.0,35659.0,33.399
4,Brazil,BRA,South America,SA,AMRO,REPORTING,02-06-2023,513329718.0,188746389,241.499,88.797,171459392,80.664,17-01-2021,5.0,110382337.0,51.930

Borrado de la Tabla **vacunaciones** y carga del dataframe **df_vacunation** a la BBDD

In [ ]:
%sql delete from vacunaciones

 * mysql+pymysql://root:***@localhost/prova_tfm
229 rows affected.

[]

In [ ]:
df_vacunation.to_sql('vacunaciones', con = conn, if_exists = 'append', index=False)

229

7.- Carga del **df_vacunation_tipo.csv** depurado y actualizado

In [ ]:
df_vacunation_tipo = pd.read_csv('df_vacunation_tipo.csv')
df_vacunation_tipo.head()

,PAIS_ISO3,CONTINENTE,ISO_continente,NOMBRE_VACUNA,NOMBRE_TIPO_VACUNA,NOMBRE_COMPAÑIA,FECHA_AUTORIZACION,FECHA_INICIO_VACUNACION,FUENTE_DATOS
0,SHN,Africa,AF,AstraZeneca - AZD1222,AZD1222,AstraZeneca,0,0,OWID
1,GRL,North America,NaN,Moderna - mRNA-1273,mRNA-1273,Moderna,0,0,OWID
2,FRO,Europe,EU,Moderna - mRNA-1273,mRNA-1273,Moderna,0,0,OWID
3,FRO,Europe,EU,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,0,0,OWID
4,BIH,Europe,EU,AstraZeneca - AZD1222,AZD1222,AstraZeneca,0,0,OWID

In [ ]:
df_vacunation_tipo = df_vacunation_tipo.fillna('NA')
df_vacunation_tipo.head()

,PAIS_ISO3,CONTINENTE,ISO_continente,NOMBRE_VACUNA,NOMBRE_TIPO_VACUNA,NOMBRE_COMPAÑIA,FECHA_AUTORIZACION,FECHA_INICIO_VACUNACION,FUENTE_DATOS
0,SHN,Africa,AF,AstraZeneca - AZD1222,AZD1222,AstraZeneca,0,0,OWID
1,GRL,North America,NA,Moderna - mRNA-1273,mRNA-1273,Moderna,0,0,OWID
2,FRO,Europe,EU,Moderna - mRNA-1273,mRNA-1273,Moderna,0,0,OWID
3,FRO,Europe,EU,Pfizer BioNTech - Comirnaty,Comirnaty,Pfizer BioNTech,0,0,OWID
4,BIH,Europe,EU,AstraZeneca - AZD1222,AZD1222,AstraZeneca,0,0,OWID

Borrado de la Tabla **vacunas_tipos** y carga del dataframe **df_vacunation_tipo** a la BBDD

In [ ]:
%sql delete from vacunas_tipos

 * mysql+pymysql://root:***@localhost/prova_tfm
1100 rows affected.

[]

In [ ]:
df_vacunation_tipo.to_sql('vacunas_tipos', con = conn, if_exists = 'append', index=False)

1100