<a href="https://colab.research.google.com/github/patriciaapenat/TFM/blob/main/Notebooks/Data_Frame_vacunaciones_oms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clonación del Repositorio GitHub de **TFM**

---

In [2]:
! git clone https://github.com/patriciaapenat/TFM.git

Cloning into 'TFM'...
remote: Enumerating objects: 161, done.
remote: Counting objects: 100% (57/57), done.
remote: Compressing objects: 100% (56/56), done.
remote: Total 161 (delta 24), reused 0 (delta 0), pack-reused 104
Receiving objects: 100% (161/161), 7.78 MiB | 10.05 MiB/s, done.
Resolving deltas: 100% (69/69), done.

Importo algunas librerias de pandas

In [30]:
import pandas as pd
import numpy as np

Instalo nuevas versiones del Módulo pycountry

In [31]:
#!pip install pycountry==20.7.3
#!pip install pycountry-convert==0.7.2

# Acceso al dataset de la OMS que a partir de ahora se llamará **df_vacunation**

In [4]:
df_vacunation =pd.read_csv ('https://covid19.who.int/who-data/vaccination-data.csv')
df_vacunation.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Albania,ALB,EURO,REPORTING,2023-05-14,3080679.0,1348396,107.000,47.379,1277987,44.905,NaN,2021-01-13,6.0,399190.0,14.027
1,Chile,CHL,AMRO,REPORTING,2023-06-02,66273384.0,18106832,346.687,94.720,17716364,92.677,NaN,2020-12-21,5.0,15766986.0,82.480
2,Congo,COG,AFRO,REPORTING,2022-07-31,833210.0,695760,15.100,12.609,654119,11.854,NaN,2021-03-23,4.0,NaN,NaN
3,Côte d’Ivoire,CIV,AFRO,REPORTING,2023-02-19,25263932.0,13568372,95.776,51.438,12164304,46.115,NaN,2021-03-01,5.0,3138712.0,11.899
4,Denmark,DNK,EURO,REPORTING,2023-06-11,14986863.0,4767119,257.400,81.870,4731911,81.266,NaN,2020-12-16,5.0,3634971.0,62.427

In [5]:
df_vacunation.shape

(229, 16)

In [6]:
df_vacunation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   COUNTRY                               229 non-null    object
 1   ISO3                                  229 non-null    object
 2   WHO_REGION                            229 non-null    object
 3   DATA_SOURCE                           229 non-null    object
 4   DATE_UPDATED                          229 non-null    object
 5   TOTAL_VACCINATIONS                    228 non-null    float64
 6   PERSONS_VACCINATED_1PLUS_DOSE         229 non-null    int64
 7   TOTAL_VACCINATIONS_PER100             227 non-null    float64
 8   PERSONS_VACCINATED_1PLUS_DOSE_PER100  229 non-null    float64
 9   PERSONS_LAST_DOSE                     229 non-null    int64
 10  PERSONS_LAST_DOSE_PER100              229 non-null    float64
 11  VACCINES_USED                         0 non-null      float64
 12  FIRST_VACCINE_DATE                    207 non-null    object
 13  NUMBER_VACCINES_TYPES_USED            225 non-null    float64
 14  PERSONS_BOOSTER_ADD_DOSE              211 non-null    float64
 15  PERSONS_BOOSTER_ADD_DOSE_PER100       211 non-null    float64
dtypes: float64(8), int64(2), object(6)
memory usage: 28.8+ KB

Transformamos los **campos de fecha** que aparecen con tipo de datos cadena de caracteres a formato fecha<br>

1.- DATE_UPDATED<br>
2.- FIRST_VACCINE_DATE<br>

In [7]:
df_vacunation['DATE_UPDATED']= pd.to_datetime(df_vacunation['DATE_UPDATED']).dt.strftime('%d-%m-%Y')
df_vacunation['FIRST_VACCINE_DATE']= pd.to_datetime(df_vacunation['FIRST_VACCINE_DATE']).dt.strftime('%d-%m-%Y')

Verificamos que se han modificado el tipo de datos en ambas variables de fecha

In [8]:
df_vacunation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   COUNTRY                               229 non-null    object
 1   ISO3                                  229 non-null    object
 2   WHO_REGION                            229 non-null    object
 3   DATA_SOURCE                           229 non-null    object
 4   DATE_UPDATED                          229 non-null    object
 5   TOTAL_VACCINATIONS                    228 non-null    float64
 6   PERSONS_VACCINATED_1PLUS_DOSE         229 non-null    int64
 7   TOTAL_VACCINATIONS_PER100             227 non-null    float64
 8   PERSONS_VACCINATED_1PLUS_DOSE_PER100  229 non-null    float64
 9   PERSONS_LAST_DOSE                     229 non-null    int64
 10  PERSONS_LAST_DOSE_PER100              229 non-null    float64
 11  VACCINES_USED                         0 non-null      float64
 12  FIRST_VACCINE_DATE                    207 non-null    object
 13  NUMBER_VACCINES_TYPES_USED            225 non-null    float64
 14  PERSONS_BOOSTER_ADD_DOSE              211 non-null    float64
 15  PERSONS_BOOSTER_ADD_DOSE_PER100       211 non-null    float64
dtypes: float64(8), int64(2), object(6)
memory usage: 28.8+ KB

Transformamos los **campos numéricos** que aparecen como tipo de datos cadena de caracteres "Object" a formato numérico <br>

In [9]:
df_vacunation['TOTAL_VACCINATIONS']= pd.to_numeric(df_vacunation['TOTAL_VACCINATIONS'], downcast='signed')

Verificamos que se ha modificado el tipo de datos a numérico.

In [10]:
df_vacunation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   COUNTRY                               229 non-null    object
 1   ISO3                                  229 non-null    object
 2   WHO_REGION                            229 non-null    object
 3   DATA_SOURCE                           229 non-null    object
 4   DATE_UPDATED                          229 non-null    object
 5   TOTAL_VACCINATIONS                    228 non-null    float64
 6   PERSONS_VACCINATED_1PLUS_DOSE         229 non-null    int64
 7   TOTAL_VACCINATIONS_PER100             227 non-null    float64
 8   PERSONS_VACCINATED_1PLUS_DOSE_PER100  229 non-null    float64
 9   PERSONS_LAST_DOSE                     229 non-null    int64
 10  PERSONS_LAST_DOSE_PER100              229 non-null    float64
 11  VACCINES_USED                         0 non-null      float64
 12  FIRST_VACCINE_DATE                    207 non-null    object
 13  NUMBER_VACCINES_TYPES_USED            225 non-null    float64
 14  PERSONS_BOOSTER_ADD_DOSE              211 non-null    float64
 15  PERSONS_BOOSTER_ADD_DOSE_PER100       211 non-null    float64
dtypes: float64(8), int64(2), object(6)
memory usage: 28.8+ KB

Elimino la columna **VACCINES_USED** ya que no hay valores...!!!

In [11]:
df_vacunation.drop(['VACCINES_USED'], axis=1, inplace= True)

Observamos que no hay **ningún valor duplicado**

In [12]:
df_vacunation.duplicated().values.any()

False

Observamos que hay **65 valores nulos**

In [13]:
df_vacunation.isnull().values.sum()

65

Identificamos en que **Variable** y la **suma de valores nulos**

In [14]:
df_vacunation.isnull().sum()

COUNTRY                                  0
ISO3                                     0
WHO_REGION                               0
DATA_SOURCE                              0
DATE_UPDATED                             0
TOTAL_VACCINATIONS                       1
PERSONS_VACCINATED_1PLUS_DOSE            0
TOTAL_VACCINATIONS_PER100                2
PERSONS_VACCINATED_1PLUS_DOSE_PER100     0
PERSONS_LAST_DOSE                        0
PERSONS_LAST_DOSE_PER100                 0
FIRST_VACCINE_DATE                      22
NUMBER_VACCINES_TYPES_USED               4
PERSONS_BOOSTER_ADD_DOSE                18
PERSONS_BOOSTER_ADD_DOSE_PER100         18
dtype: int64

Identificamos **el/los registros** donde se ecuentran los **valores nulos**<br>

1.-TOTAL_VACCINATIONS<br>
2.-TOTAL_VACCINATIONS_PER100<br>
3.-FIRST_VACCINE_DATE<br>
4.-NUMBER_VACCINES_TYPES_USED<br>
5.-PERSONS_BOOSTER_ADD_DOSE<br>
6.-PERSONS_BOOSTER_ADD_DOSE_PER100<br>

In [15]:
df_vacunation[df_vacunation['TOTAL_VACCINATIONS'].isnull()]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
155,Eritrea,ERI,AFRO,REPORTING,03-07-2022,NaN,0,NaN,0.0,0,0.0,NaN,NaN,NaN,NaN

In [16]:
df_vacunation[df_vacunation['TOTAL_VACCINATIONS_PER100'].isnull()]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
155,Eritrea,ERI,AFRO,REPORTING,03-07-2022,NaN,0,NaN,0.000,0,0.000,NaN,NaN,NaN,NaN
201,Turkey,TUR,EURO,REPORTING,29-01-2023,139694693.0,50974980,NaN,61.919,50670345,60.935,NaN,3.0,27896331.0,33.547

In [17]:
df_vacunation[df_vacunation['FIRST_VACCINE_DATE'].isnull()]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
5,Greenland,GRL,EURO,OWID,14-03-2022,79738.0,41227,140.453,72.619,38511,67.834,NaN,1.0,NaN,NaN
6,Guernsey,GGY,EURO,OWID,19-12-2022,178525.0,54223,276.920,84.108,52710,81.761,NaN,3.0,69339.0,107.556
31,"Bonaire, Sint Eustatius and Saba",BES,AMRO,OWID,01-09-2021,35845.0,19109,137.934,73.533,16736,64.401,NaN,2.0,NaN,NaN
66,Qatar,QAT,EMRO,REPORTING,07-05-2023,7609178.0,2852178,264.111,98.998,2852178,98.998,NaN,10.0,1904822.0,66.115
72,United Arab Emirates,ARE,EMRO,REPORTING,06-07-2022,24922054.0,9991089,251.982,101.018,9792266,99.008,NaN,11.0,5138699.0,51.956
82,Cuba,CUB,AMRO,REPORTING,02-06-2023,38105906.0,10749013,336.428,94.900,10016328,88.432,NaN,3.0,8742146.0,77.182
120,Haiti,HTI,AMRO,REPORTING,02-06-2023,664150.0,521396,5.825,4.573,350403,3.073,NaN,2.0,NaN,NaN
122,Jersey,JEY,EURO,OWID,29-01-2023,266953.0,84365,247.646,78.264,81882,75.960,NaN,3.0,73662.0,68.335
143,Saba,XCA,AMRO,REPORTING,02-06-2023,4979.0,1687,257.579,87.274,1667,86.239,NaN,NaN,1170.0,60.528
149,Bonaire,XAA,AMRO,REPORTING,02-06-2023,43070.0,17460,205.929,83.481,16189,77.404,NaN,NaN,8125.0,38.848
155,Eritrea,ERI,AFRO,REPORTING,03-07-2022,NaN,0,NaN,0.000,0,0.000,NaN,NaN,NaN,NaN
158,Isle of Man,IMN,EURO,OWID,23-06-2022,189994.0,69560,223.438,81.804,67106,78.919,NaN,3.0,53328.0,62.715
162,Martinique,MTQ,AMRO,REPORTING,02-06-2023,401816.0,150795,107.075,40.184,145536,38.782,NaN,2.0,92919.0,24.761
173,Puerto Rico,PRI,AMRO,REPORTING,02-06-2023,7846764.0,2905470,274.281,101.560,2688410,93.972,NaN,4.0,1808780.0,63.225
179,Bosnia and Herzegovina,BIH,EURO,REPORTING,29-01-2022,1924950.0,943394,58.700,28.755,846080,25.789,NaN,4.0,NaN,NaN
186,Gibraltar,GIB,EURO,OWID,16-12-2022,132810.0,42175,394.200,125.182,41465,123.074,NaN,2.0,49170.0,145.944
194,"Saint Helena, Ascension and Tristan da Cunha",SHN,AFRO,OWID,05-05-2021,7892.0,4361,129.995,71.833,3531,58.162,NaN,1.0,NaN,NaN
201,Turkey,TUR,EURO,REPORTING,29-01-2023,139694693.0,50974980,NaN,61.919,50670345,60.935,NaN,3.0,27896331.0,33.547
206,Falkland Islands (Malvinas),FLK,AMRO,REPORTING,21-06-2022,9390.0,3220,269.595,92.449,2976,85.444,NaN,1.0,2543.0,73.012
207,Faroe Islands,FRO,EURO,OWID,18-02-2022,103894.0,41715,212.614,85.368,40895,83.690,NaN,2.0,21284.0,43.557
219,Russian Federation,RUS,EURO,OWID,26-05-2023,186692479.0,88811982,127.900,60.857,79702396,54.615,NaN,2.0,NaN,NaN
223,Sint Eustatius,XBA,AMRO,REPORTING,02-06-2023,4319.0,1791,137.592,57.056,1686,53.711,NaN,NaN,767.0,24.435

In [18]:
df_vacunation[df_vacunation['NUMBER_VACCINES_TYPES_USED'].isnull()]
df_vacunation[df_vacunation['PERSONS_BOOSTER_ADD_DOSE'].isnull()]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
2,Congo,COG,AFRO,REPORTING,31-07-2022,833210.0,695760,15.100,12.609,654119,11.854,23-03-2021,4.0,NaN,NaN
5,Greenland,GRL,EURO,OWID,14-03-2022,79738.0,41227,140.453,72.619,38511,67.834,NaN,1.0,NaN,NaN
28,Benin,BEN,AFRO,REPORTING,18-12-2022,4232541.0,3697190,34.913,30.497,2742837,22.625,29-03-2021,5.0,NaN,NaN
31,"Bonaire, Sint Eustatius and Saba",BES,AMRO,OWID,01-09-2021,35845.0,19109,137.934,73.533,16736,64.401,NaN,2.0,NaN,NaN
99,Niger,NER,AFRO,REPORTING,12-03-2023,7339299.0,6217508,30.319,25.685,5454196,22.532,29-03-2021,2.0,NaN,NaN
106,United Republic of Tanzania,TZA,AFRO,REPORTING,12-03-2023,39392419.0,34434933,65.946,57.647,32165791,53.848,28-07-2021,3.0,NaN,NaN
114,Burkina Faso,BFA,AFRO,REPORTING,19-03-2023,6674010.0,5152110,31.928,24.647,4129254,19.754,02-06-2021,3.0,NaN,NaN
120,Haiti,HTI,AMRO,REPORTING,02-06-2023,664150.0,521396,5.825,4.573,350403,3.073,NaN,2.0,NaN,NaN
132,Somalia,SOM,EMRO,REPORTING,30-04-2023,9443849.0,8370355,59.421,52.666,7035193,44.265,16-03-2021,11.0,NaN,NaN
151,Comoros,COM,AFRO,REPORTING,02-10-2022,835021.0,438825,96.023,50.463,397080,45.662,10-04-2021,3.0,NaN,NaN
153,Democratic Republic of the Congo,COD,AFRO,REPORTING,04-06-2023,18808671.0,17045721,21.001,19.032,14399520,16.078,19-04-2021,1.0,NaN,NaN
155,Eritrea,ERI,AFRO,REPORTING,03-07-2022,NaN,0,NaN,0.000,0,0.000,NaN,NaN,NaN,NaN
161,Mali,MLI,AFRO,REPORTING,14-05-2023,5922585.0,4354292,29.246,21.502,3633589,17.943,31-03-2021,1.0,NaN,NaN
179,Bosnia and Herzegovina,BIH,EURO,REPORTING,29-01-2022,1924950.0,943394,58.700,28.755,846080,25.789,NaN,4.0,NaN,NaN
183,Djibouti,DJI,EMRO,REPORTING,18-04-2023,392703.0,372077,39.747,37.660,351712,35.598,15-03-2021,11.0,NaN,NaN
194,"Saint Helena, Ascension and Tristan da Cunha",SHN,AFRO,OWID,05-05-2021,7892.0,4361,129.995,71.833,3531,58.162,NaN,1.0,NaN,NaN
200,The United Kingdom,GBR,EURO,REPORTING,11-09-2022,151248820.0,53813491,222.800,79.068,50762968,74.586,21-12-2020,3.0,NaN,NaN
219,Russian Federation,RUS,EURO,OWID,26-05-2023,186692479.0,88811982,127.900,60.857,79702396,54.615,NaN,2.0,NaN,NaN

Sustituimos los valores **NaN** por valores **0**<br>

In [19]:
df_vacunation=df_vacunation.fillna(0)
df_vacunation.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Albania,ALB,EURO,REPORTING,14-05-2023,3080679.0,1348396,107.000,47.379,1277987,44.905,13-01-2021,6.0,399190.0,14.027
1,Chile,CHL,AMRO,REPORTING,02-06-2023,66273384.0,18106832,346.687,94.720,17716364,92.677,21-12-2020,5.0,15766986.0,82.480
2,Congo,COG,AFRO,REPORTING,31-07-2022,833210.0,695760,15.100,12.609,654119,11.854,23-03-2021,4.0,0.0,0.000
3,Côte d’Ivoire,CIV,AFRO,REPORTING,19-02-2023,25263932.0,13568372,95.776,51.438,12164304,46.115,01-03-2021,5.0,3138712.0,11.899
4,Denmark,DNK,EURO,REPORTING,11-06-2023,14986863.0,4767119,257.400,81.870,4731911,81.266,16-12-2020,5.0,3634971.0,62.427

Verificamos la instrucción y observamos que **no existen valores nulos**

In [20]:
df_vacunation.isnull().sum()

COUNTRY                                 0
ISO3                                    0
WHO_REGION                              0
DATA_SOURCE                             0
DATE_UPDATED                            0
TOTAL_VACCINATIONS                      0
PERSONS_VACCINATED_1PLUS_DOSE           0
TOTAL_VACCINATIONS_PER100               0
PERSONS_VACCINATED_1PLUS_DOSE_PER100    0
PERSONS_LAST_DOSE                       0
PERSONS_LAST_DOSE_PER100                0
FIRST_VACCINE_DATE                      0
NUMBER_VACCINES_TYPES_USED              0
PERSONS_BOOSTER_ADD_DOSE                0
PERSONS_BOOSTER_ADD_DOSE_PER100         0
dtype: int64

Mediante la función **.columns** obtenemos el orden y el nombre de las columnas del **df_vacunation**

In [21]:
df_vacunation.columns

Index(['COUNTRY', 'ISO3', 'WHO_REGION', 'DATA_SOURCE', 'DATE_UPDATED',
       'TOTAL_VACCINATIONS', 'PERSONS_VACCINATED_1PLUS_DOSE',
       'TOTAL_VACCINATIONS_PER100', 'PERSONS_VACCINATED_1PLUS_DOSE_PER100',
       'PERSONS_LAST_DOSE', 'PERSONS_LAST_DOSE_PER100', 'FIRST_VACCINE_DATE',
       'NUMBER_VACCINES_TYPES_USED', 'PERSONS_BOOSTER_ADD_DOSE',
       'PERSONS_BOOSTER_ADD_DOSE_PER100'],
      dtype='object')

In [22]:
df_vacunation.shape

(229, 15)

Renombramos el nombre de las Columnas del **df_vacunation**

In [23]:
df_vacunation.columns =['PAIS', 'ISO3', 'OMS_REGION', 'FUENTE_DE_DATOS', 'FECHA_ACTUALIZADA',
       'TOTAL_VACUNACIONES', 'PERSONAS_VACUNADAS_1_DOSIS',
       'TOTAL_VACUNACIONES_PER100', 'PERSONAS_VACUNADAS_1MAS_DOSIS_PER100',
       'PERSONAS_TOTALMENTE_VACUNADAS', 'PERSONAS_TOTALMENTE_VACUNADAS_PER_100','FECHA_PRIMERAS_VACUNAS', 'NUMERO_TIPOS_VACUNAS_USADAS',
       'PERSONAS_REFUERZO_O_DOSIS', 'PERSONAS_REFUERZO_O_DOSIS_PER100']

In [24]:
df_vacunation.columns
df_vacunation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 15 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   PAIS                                   229 non-null    object
 1   ISO3                                   229 non-null    object
 2   OMS_REGION                             229 non-null    object
 3   FUENTE_DE_DATOS                        229 non-null    object
 4   FECHA_ACTUALIZADA                      229 non-null    object
 5   TOTAL_VACUNACIONES                     229 non-null    float64
 6   PERSONAS_VACUNADAS_1_DOSIS             229 non-null    int64
 7   TOTAL_VACUNACIONES_PER100              229 non-null    float64
 8   PERSONAS_VACUNADAS_1MAS_DOSIS_PER100   229 non-null    float64
 9   PERSONAS_TOTALMENTE_VACUNADAS          229 non-null    int64
 10  PERSONAS_TOTALMENTE_VACUNADAS_PER_100  229 non-null    float64
 11  FECHA_PRIMERAS_VACUNAS                 229 non-null    object
 12  NUMERO_TIPOS_VACUNAS_USADAS            229 non-null    float64
 13  PERSONAS_REFUERZO_O_DOSIS              229 non-null    float64
 14  PERSONAS_REFUERZO_O_DOSIS_PER100       229 non-null    float64
dtypes: float64(7), int64(2), object(6)
memory usage: 27.0+ KB

In [25]:
df_vacunation['PAIS'].unique()
len(df_vacunation['PAIS'].unique())

229

In [26]:
df_vacunation['PAIS']

0                   Albania
1                     Chile
2                     Congo
3             Côte d’Ivoire
4                   Denmark
               ...
224                   Spain
225             Switzerland
226    Syrian Arab Republic
227             Timor-Leste
228                Viet Nam
Name: PAIS, Length: 229, dtype: object

Con el módulo **pycountry** obtenemos datos adicionales para el dataframe y se renombran las columnas con la función **.columns**

In [32]:
import pycountry_convert as pc

def obtener_continente_ISO3(codigo_ISO3):
    try:
        continente_code = pc.country_alpha3_to_country_alpha2(codigo_ISO3)
        continente = pc.country_alpha2_to_continent_code(continente_code)
        continente_nombre = pc.convert_continent_code_to_continent_name(continente)
        return continente_nombre, continente
    except:
        return None, None

df_vacunation[['Continente', 'ISO_continente']] = df_vacunation['ISO3'].apply(obtener_continente_ISO3).apply(pd.Series)

indice_ISO3 = df_vacunation.columns.get_loc("ISO3")

df_vacunation.insert(indice_ISO3 + 1, "Continente", df_vacunation.pop("Continente"))
df_vacunation.insert(indice_ISO3 + 2, "ISO_continente", df_vacunation.pop("ISO_continente"))

In [33]:
df_vacunation

,PAIS,ISO3,Continente,ISO_continente,OMS_REGION,FUENTE_DE_DATOS,FECHA_ACTUALIZADA,TOTAL_VACUNACIONES,PERSONAS_VACUNADAS_1_DOSIS,TOTAL_VACUNACIONES_PER100,PERSONAS_VACUNADAS_1MAS_DOSIS_PER100,PERSONAS_TOTALMENTE_VACUNADAS,PERSONAS_TOTALMENTE_VACUNADAS_PER_100,FECHA_PRIMERAS_VACUNAS,NUMERO_TIPOS_VACUNAS_USADAS,PERSONAS_REFUERZO_O_DOSIS,PERSONAS_REFUERZO_O_DOSIS_PER100
0,Albania,ALB,Europe,EU,EURO,REPORTING,14-05-2023,3080679.0,1348396,107.000,47.379,1277987,44.905,13-01-2021,6.0,399190.0,14.027
1,Chile,CHL,South America,SA,AMRO,REPORTING,02-06-2023,66273384.0,18106832,346.687,94.720,17716364,92.677,21-12-2020,5.0,15766986.0,82.480
2,Congo,COG,Africa,AF,AFRO,REPORTING,31-07-2022,833210.0,695760,15.100,12.609,654119,11.854,23-03-2021,4.0,0.0,0.000
3,Côte d’Ivoire,CIV,Africa,AF,AFRO,REPORTING,19-02-2023,25263932.0,13568372,95.776,51.438,12164304,46.115,01-03-2021,5.0,3138712.0,11.899
4,Denmark,DNK,Europe,EU,EURO,REPORTING,11-06-2023,14986863.0,4767119,257.400,81.870,4731911,81.266,16-12-2020,5.0,3634971.0,62.427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,ESP,Europe,EU,EURO,REPORTING,11-06-2023,112837406.0,41328627,238.400,87.315,37483217,79.191,30-12-2020,4.0,26563654.0,56.121
225,Switzerland,CHE,Europe,EU,EURO,REPORTING,11-06-2023,16755470.0,6096586,193.600,70.841,5723015,66.500,23-12-2020,6.0,4996200.0,58.055
226,Syrian Arab Republic,SYR,Asia,AS,EMRO,REPORTING,18-04-2023,5090630.0,3295630,29.088,18.831,2358365,13.476,01-04-2021,11.0,75881.0,0.434
227,Timor-Leste,TLS,None,None,SEARO,REPORTING,26-06-2023,2019384.0,884194,153.164,67.063,799627,60.649,07-04-2021,4.0,335563.0,25.451
228,Viet Nam,VNM,Asia,AS,WPRO,REPORTING,08-06-2023,266448231.0,90270583,273.733,92.739,85958364,88.309,08-03-2021,6.0,57958886.0,59.544

In [34]:
df_vacunation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   PAIS                                   229 non-null    object
 1   ISO3                                   229 non-null    object
 2   Continente                             222 non-null    object
 3   ISO_continente                         222 non-null    object
 4   OMS_REGION                             229 non-null    object
 5   FUENTE_DE_DATOS                        229 non-null    object
 6   FECHA_ACTUALIZADA                      229 non-null    object
 7   TOTAL_VACUNACIONES                     229 non-null    float64
 8   PERSONAS_VACUNADAS_1_DOSIS             229 non-null    int64
 9   TOTAL_VACUNACIONES_PER100              229 non-null    float64
 10  PERSONAS_VACUNADAS_1MAS_DOSIS_PER100   229 non-null    float64
 11  PERSONAS_TOTALMENTE_VACUNADAS          229 non-null    int64
 12  PERSONAS_TOTALMENTE_VACUNADAS_PER_100  229 non-null    float64
 13  FECHA_PRIMERAS_VACUNAS                 229 non-null    object
 14  NUMERO_TIPOS_VACUNAS_USADAS            229 non-null    float64
 15  PERSONAS_REFUERZO_O_DOSIS              229 non-null    float64
 16  PERSONAS_REFUERZO_O_DOSIS_PER100       229 non-null    float64
dtypes: float64(7), int64(2), object(8)
memory usage: 30.5+ KB

Hacemos una última revisión

In [35]:
df_vacunation.duplicated().values.any()

False

In [36]:
df_vacunation.isnull().sum()

PAIS                                     0
ISO3                                     0
Continente                               7
ISO_continente                           7
OMS_REGION                               0
FUENTE_DE_DATOS                          0
FECHA_ACTUALIZADA                        0
TOTAL_VACUNACIONES                       0
PERSONAS_VACUNADAS_1_DOSIS               0
TOTAL_VACUNACIONES_PER100                0
PERSONAS_VACUNADAS_1MAS_DOSIS_PER100     0
PERSONAS_TOTALMENTE_VACUNADAS            0
PERSONAS_TOTALMENTE_VACUNADAS_PER_100    0
FECHA_PRIMERAS_VACUNAS                   0
NUMERO_TIPOS_VACUNAS_USADAS              0
PERSONAS_REFUERZO_O_DOSIS                0
PERSONAS_REFUERZO_O_DOSIS_PER100         0
dtype: int64

Observo que aparecen 7 registros con el Campo de **Continente y ISO_continente** nulos

In [37]:
df_vacunation[df_vacunation['Continente'].isnull()]

,PAIS,ISO3,Continente,ISO_continente,OMS_REGION,FUENTE_DE_DATOS,FECHA_ACTUALIZADA,TOTAL_VACUNACIONES,PERSONAS_VACUNADAS_1_DOSIS,TOTAL_VACUNACIONES_PER100,PERSONAS_VACUNADAS_1MAS_DOSIS_PER100,PERSONAS_TOTALMENTE_VACUNADAS,PERSONAS_TOTALMENTE_VACUNADAS_PER_100,FECHA_PRIMERAS_VACUNAS,NUMERO_TIPOS_VACUNAS_USADAS,PERSONAS_REFUERZO_O_DOSIS,PERSONAS_REFUERZO_O_DOSIS_PER100
44,Kosovo,XKX,None,None,EURO,REPORTING,15-01-2023,1836901.0,904558,102.300,50.375,824752,45.930,31-03-2021,2.0,105624.0,5.882
69,Sint Maarten,SXM,None,None,AMRO,REPORTING,02-06-2023,66829.0,29788,155.844,69.465,26773,62.434,22-02-2021,3.0,9146.0,21.328
143,Saba,XCA,None,None,AMRO,REPORTING,02-06-2023,4979.0,1687,257.579,87.274,1667,86.239,0,0.0,1170.0,60.528
149,Bonaire,XAA,None,None,AMRO,REPORTING,02-06-2023,43070.0,17460,205.929,83.481,16189,77.404,0,0.0,8125.0,38.848
217,Pitcairn Islands,PCN,None,None,WPRO,REPORTING,29-08-2022,117.0,47,234.000,94.000,47,94.000,17-05-2021,1.0,23.0,46.000
223,Sint Eustatius,XBA,None,None,AMRO,REPORTING,02-06-2023,4319.0,1791,137.592,57.056,1686,53.711,0,0.0,767.0,24.435
227,Timor-Leste,TLS,None,None,SEARO,REPORTING,26-06-2023,2019384.0,884194,153.164,67.063,799627,60.649,07-04-2021,4.0,335563.0,25.451

Sustituyo los valores nulos por los valores **Sin Determinar** y **Z9**

In [38]:
df_vacunation['Continente'].fillna('Sin Determinar', inplace=True)
df_vacunation['ISO_continente'].fillna('Z9', inplace=True)

Verifico los cambios

In [39]:
df_vacunation[df_vacunation.ISO_continente == 'Z9']

,PAIS,ISO3,Continente,ISO_continente,OMS_REGION,FUENTE_DE_DATOS,FECHA_ACTUALIZADA,TOTAL_VACUNACIONES,PERSONAS_VACUNADAS_1_DOSIS,TOTAL_VACUNACIONES_PER100,PERSONAS_VACUNADAS_1MAS_DOSIS_PER100,PERSONAS_TOTALMENTE_VACUNADAS,PERSONAS_TOTALMENTE_VACUNADAS_PER_100,FECHA_PRIMERAS_VACUNAS,NUMERO_TIPOS_VACUNAS_USADAS,PERSONAS_REFUERZO_O_DOSIS,PERSONAS_REFUERZO_O_DOSIS_PER100
44,Kosovo,XKX,Sin Determinar,Z9,EURO,REPORTING,15-01-2023,1836901.0,904558,102.300,50.375,824752,45.930,31-03-2021,2.0,105624.0,5.882
69,Sint Maarten,SXM,Sin Determinar,Z9,AMRO,REPORTING,02-06-2023,66829.0,29788,155.844,69.465,26773,62.434,22-02-2021,3.0,9146.0,21.328
143,Saba,XCA,Sin Determinar,Z9,AMRO,REPORTING,02-06-2023,4979.0,1687,257.579,87.274,1667,86.239,0,0.0,1170.0,60.528
149,Bonaire,XAA,Sin Determinar,Z9,AMRO,REPORTING,02-06-2023,43070.0,17460,205.929,83.481,16189,77.404,0,0.0,8125.0,38.848
217,Pitcairn Islands,PCN,Sin Determinar,Z9,WPRO,REPORTING,29-08-2022,117.0,47,234.000,94.000,47,94.000,17-05-2021,1.0,23.0,46.000
223,Sint Eustatius,XBA,Sin Determinar,Z9,AMRO,REPORTING,02-06-2023,4319.0,1791,137.592,57.056,1686,53.711,0,0.0,767.0,24.435
227,Timor-Leste,TLS,Sin Determinar,Z9,SEARO,REPORTING,26-06-2023,2019384.0,884194,153.164,67.063,799627,60.649,07-04-2021,4.0,335563.0,25.451

In [ ]:
df_vacunation.columns =['PAIS', 'PAIS_ISO3','CONTINENTE','ISO_CONTINENTE','OMS_REGION', 'FUENTE_DATOS', 'FECHA_ULT_ACTUALIZACION',
       'TOTAL_VACUNACION_ACUM', 'NPER_VACUNADAS_1DOSIS',
       'TOTAL_VACUNACION_PER100', 'NPER_VACUNADAS_1DOSIS_PER100',
       'NPER_VACUNADAS_DOSIS_FULL', 'NPER_VACUNADAS_DOSIS_FULL_PER100','FECHA_PRIMERA_VACUNA', 'N_TIPOS_VACUNAS_USADAS',
       'NPER_CON_DOSIS_ADICIONAL', 'NPER_CON_DOSIS_ADIDICIONAL_PER100']

Exporto el fichero depurado

In [41]:
df_vacunation.to_csv('/content/TFM/Ficheros_Depurados/df_vacunation.csv',index=False)