<a href="https://colab.research.google.com/github/patriciaapenat/TFM/blob/main/Notebooks/Data_Frame_Pacientes_Hospitalizados%20%26%20UCI_eu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
! git clone https://github.com/patriciaapenat/TFM.git

Cloning into 'TFM'...
remote: Enumerating objects: 150, done.
remote: Counting objects: 100% (46/46), done.
remote: Compressing objects: 100% (45/45), done.
remote: Total 150 (delta 17), reused 0 (delta 0), pack-reused 104
Receiving objects: 100% (150/150), 6.90 MiB | 11.77 MiB/s, done.
Resolving deltas: 100% (62/62), done.

### **Fuente de Datos - European Centre for Disease Prevention and Control**
**https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19
**<br>


#### Descarga de datos

**1.- Ingresos en hospital UCI fueron registrados?:** https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19<br>

Enlace de descarga: https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19

Ubicacion: Otros Datasets
    
Nombre:   Data on hospital and ICU admission rates and current occupancy for COVID-19

**üßæInformacion del Dataset**<br>
*  Los usuarios deben tener en cuenta que los archivos de datos descargables contienen informaci√≥n sobre las tasas de admisi√≥n de hospitalizaci√≥n y Unidad de Cuidados Intensivos (UCI) y la ocupaci√≥n actual para COVID-19 por fecha y pa√≠s. Cada fila contiene los datos correspondientes a una determinada fecha (d√≠a o semana) y por pa√≠s. El archivo se actualiza semanalmente. Puede utilizar los datos de acuerdo con la pol√≠tica de derechos de autor del ECDC.

El dataset que estaremos trabajando contiene Informacion acerca de Ocupaci√≥n diaria del hospital, Ocupaci√≥n diaria de la UCI,
Nuevos ingresos hospitalarios semanales por 100k,
Nuevas admisiones semanales en UCI por 100k
(Daily hospital occupancy,Daily ICU occupancy, Weekly new hospital admissions per 100k, ,Weekly new ICU admissions per 100k)
en paises europeos.

Columnas:
country, indicator, date, year_week, value, source, url

In [8]:
import pandas as pd
import numpy as np
import datetime

# Acceso al dataset de hospitalizaciones en UCI

Exloraci√≥n e Informaci√≥n del DataFrame **df_hosp_UCI**

In [9]:
#df_covid_daily = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-data.csv')
#df_covid_global = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-table-data.csv')
#df_vacunation =pd.read_csv ('https://covid19.who.int/who-data/vaccination-data.csv')
#df_vacunation_Meta =pd.read_csv ('https://covid19.who.int/who-data/vaccination-metadata.csv')
#df_hosp_UCI = pd.read_csv ('Data on hospital and ICU admission rates and current occupancy for COVID.csv')
df_hosp_UCI = pd.read_csv ('https://opendata.ecdc.europa.eu/covid19/hospitalicuadmissionrates/csv/data.csv')
df_hosp_UCI

,country,indicator,date,year_week,value,source,url
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.000000,Country_Website,NaN
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.000000,Country_Website,NaN
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.000000,Country_Website,NaN
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.000000,Country_Website,NaN
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.000000,Country_Website,NaN
...,...,...,...,...,...,...,...
27628,Sweden,Weekly new ICU admissions per 100k,2023-05-28,2023-W21,0.095672,TESSy COVID-19 combined sources,NaN
27629,Sweden,Weekly new ICU admissions per 100k,2023-06-04,2023-W22,0.019134,TESSy COVID-19 combined sources,NaN
27630,Sweden,Weekly new ICU admissions per 100k,2023-06-11,2023-W23,0.047836,TESSy COVID-19 combined sources,NaN
27631,Sweden,Weekly new ICU admissions per 100k,2023-06-18,2023-W24,0.028702,TESSy COVID-19 combined sources,NaN
27632,Sweden,Weekly new ICU admissions per 100k,2023-06-25,2023-W25,0.028702,TESSy COVID-19 combined sources,NaN

In [10]:
df_hosp_UCI['country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Cyprus', 'Czechia', 'Estonia',
       'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Malta', 'Netherlands', 'Portugal', 'Romania', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden'], dtype=object)

In [13]:
df_paises = pd.read_csv ('/content/TFM/Ficheros_Depurados/paises_region_oms_v2.csv')
df_paises

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2
0,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola
1,BDI,BI,Burundi,AF,Africa,AFRO,Africa,Burundi
2,BEN,BJ,Benin,AF,Africa,AFRO,Africa,Benin
3,BFA,BF,Burkina Faso,AF,Africa,AFRO,Africa,Burkina Faso
4,BWA,BW,Botswana,AF,Africa,AFRO,Africa,Botswana
...,...,...,...,...,...,...,...,...
244,VCT,VC,Saint Vincent and the Grenadines,NaN,North America,AMRO,Am√©rica,Saint Vincent and the Grenadines
245,VGB,VG,British Virgin Islands,NaN,North America,AMRO,Am√©rica,British Virgin Islands
246,BLM,BL,San Bartolom√©,NaN,North America,AMRO,Am√©rica,Saint Barth√©lemy
247,MAF,MF,San Mart√≠n,NaN,North America,AMRO,Am√©rica,Saint Martin
248,SXM,SX,San Mart√≠n,NaN,North America,AMRO,Am√©rica,San Mart√≠n

In [26]:
df_hosp_UCI_NEW = pd.merge(left=df_hosp_UCI, right=df_paises,
                      how='left', left_on='country', right_on='PAIS_NOM_2')

In [27]:
df_hosp_UCI_NEW

,country,indicator,date,year_week,value,source,url,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.000000,Country_Website,NaN,AUT,AT,Austria,EU,Europe,EURO,Europa,Austria
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.000000,Country_Website,NaN,AUT,AT,Austria,EU,Europe,EURO,Europa,Austria
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.000000,Country_Website,NaN,AUT,AT,Austria,EU,Europe,EURO,Europa,Austria
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.000000,Country_Website,NaN,AUT,AT,Austria,EU,Europe,EURO,Europa,Austria
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.000000,Country_Website,NaN,AUT,AT,Austria,EU,Europe,EURO,Europa,Austria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27628,Sweden,Weekly new ICU admissions per 100k,2023-05-28,2023-W21,0.095672,TESSy COVID-19 combined sources,NaN,SWE,SE,Sweden,EU,Europe,EURO,Europa,Sweden
27629,Sweden,Weekly new ICU admissions per 100k,2023-06-04,2023-W22,0.019134,TESSy COVID-19 combined sources,NaN,SWE,SE,Sweden,EU,Europe,EURO,Europa,Sweden
27630,Sweden,Weekly new ICU admissions per 100k,2023-06-11,2023-W23,0.047836,TESSy COVID-19 combined sources,NaN,SWE,SE,Sweden,EU,Europe,EURO,Europa,Sweden
27631,Sweden,Weekly new ICU admissions per 100k,2023-06-18,2023-W24,0.028702,TESSy COVID-19 combined sources,NaN,SWE,SE,Sweden,EU,Europe,EURO,Europa,Sweden
27632,Sweden,Weekly new ICU admissions per 100k,2023-06-25,2023-W25,0.028702,TESSy COVID-19 combined sources,NaN,SWE,SE,Sweden,EU,Europe,EURO,Europa,Sweden

In [28]:
df_hosp_UCI_NEW.isnull().sum()

country                0
indicator              0
date                   0
year_week              0
value                  0
source                 0
url                27633
PAIS_ISO3              0
PAIS_ISO2              0
PAIS_NOM               0
COD_CONTINENTE         0
CONTINENTE             0
OMS_REGION             0
DESC_OMS_REGION        0
PAIS_NOM_2             0
dtype: int64

In [29]:
df_hosp_UCI_NEW.columns

Index(['country', 'indicator', 'date', 'year_week', 'value', 'source', 'url',
       'PAIS_ISO3', 'PAIS_ISO2', 'PAIS_NOM', 'COD_CONTINENTE', 'CONTINENTE',
       'OMS_REGION', 'DESC_OMS_REGION', 'PAIS_NOM_2'],
      dtype='object')

In [30]:
df_hosp_UCI_NEW = df_hosp_UCI_NEW[['PAIS_ISO3','PAIS_NOM','indicator','date','year_week','value','source','url']]

In [31]:
df_hosp_UCI_NEW.head()

,PAIS_ISO3,PAIS_NOM,indicator,date,year_week,value,source,url
0,AUT,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.0,Country_Website,NaN
1,AUT,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.0,Country_Website,NaN
2,AUT,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.0,Country_Website,NaN
3,AUT,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.0,Country_Website,NaN
4,AUT,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.0,Country_Website,NaN

In [32]:
df_hosp_UCI_NEW[df_hosp_UCI_NEW['PAIS_ISO3'].isnull()].count()

PAIS_ISO3    0
PAIS_NOM     0
indicator    0
date         0
year_week    0
value        0
source       0
url          0
dtype: int64

Transformar la variable **date** y **year_week** en formato **datetime**

In [33]:
df_hosp_UCI_NEW['date']= pd.to_datetime(df_hosp_UCI_NEW['date']).dt.strftime('%d-%m-%Y')

<ipython-input-33-b003e2acd1cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hosp_UCI_NEW['date']= pd.to_datetime(df_hosp_UCI_NEW['date']).dt.strftime('%d-%m-%Y')

In [34]:
# Convertir la columna 'year_week' a tipo datetime
df_hosp_UCI_NEW['year_week'] = pd.to_datetime(df_hosp_UCI_NEW['year_week'] + '-1', format='%Y-W%W-%w')
# Extraer el n√∫mero de semana y el a√±o
df_hosp_UCI_NEW['year_week'] = df_hosp_UCI_NEW['year_week'].dt.strftime('%Y-%W')

<ipython-input-34-edfaf80ddff0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hosp_UCI_NEW['year_week'] = pd.to_datetime(df_hosp_UCI_NEW['year_week'] + '-1', format='%Y-W%W-%w')
<ipython-input-34-edfaf80ddff0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hosp_UCI_NEW['year_week'] = df_hosp_UCI_NEW['year_week'].dt.strftime('%Y-%W')

In [35]:
df_hosp_UCI_NEW

,PAIS_ISO3,PAIS_NOM,indicator,date,year_week,value,source,url
0,AUT,Austria,Daily hospital occupancy,01-04-2020,2020-14,856.000000,Country_Website,NaN
1,AUT,Austria,Daily hospital occupancy,02-04-2020,2020-14,823.000000,Country_Website,NaN
2,AUT,Austria,Daily hospital occupancy,03-04-2020,2020-14,829.000000,Country_Website,NaN
3,AUT,Austria,Daily hospital occupancy,04-04-2020,2020-14,826.000000,Country_Website,NaN
4,AUT,Austria,Daily hospital occupancy,05-04-2020,2020-14,712.000000,Country_Website,NaN
...,...,...,...,...,...,...,...,...
27628,SWE,Sweden,Weekly new ICU admissions per 100k,28-05-2023,2023-21,0.095672,TESSy COVID-19 combined sources,NaN
27629,SWE,Sweden,Weekly new ICU admissions per 100k,04-06-2023,2023-22,0.019134,TESSy COVID-19 combined sources,NaN
27630,SWE,Sweden,Weekly new ICU admissions per 100k,11-06-2023,2023-23,0.047836,TESSy COVID-19 combined sources,NaN
27631,SWE,Sweden,Weekly new ICU admissions per 100k,18-06-2023,2023-24,0.028702,TESSy COVID-19 combined sources,NaN
27632,SWE,Sweden,Weekly new ICU admissions per 100k,25-06-2023,2023-25,0.028702,TESSy COVID-19 combined sources,NaN

Elimino la columna **url** del **df_hosp_UCI_NEW** mediante la funci√≥n **.drop**

In [36]:
df_hosp_UCI_NEW.drop(['url'], axis=1, inplace=True)

<ipython-input-36-10446873d7b5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hosp_UCI_NEW.drop(['url'], axis=1, inplace=True)

In [37]:
df_hosp_UCI_NEW[df_hosp_UCI_NEW['PAIS_ISO3'].isnull()]

Empty DataFrame
Columns: [PAIS_ISO3, PAIS_NOM, indicator, date, year_week, value, source]
Index: []

In [38]:
df_hosp_UCI_NEW
df_hosp_UCI_NEW.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27633 entries, 0 to 27632
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PAIS_ISO3  27633 non-null  object
 1   PAIS_NOM   27633 non-null  object
 2   indicator  27633 non-null  object
 3   date       27633 non-null  object
 4   year_week  27633 non-null  object
 5   value      27633 non-null  float64
 6   source     27633 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.7+ MB

In [39]:
df_hosp_UCI_NEW.duplicated().values.any()

False

In [40]:
df_hosp_UCI_NEW.isnull().sum()

PAIS_ISO3    0
PAIS_NOM     0
indicator    0
date         0
year_week    0
value        0
source       0
dtype: int64

In [41]:
df_hosp_UCI_NEW.columns =['PAIS_ISO3','PAIS_NOM','INDICADOR','FECHA','ANY_SEMANA','VALOR','FUENTE_ORIGEN']

In [43]:
df_hosp_UCI_NEW.to_csv('/content/TFM/Ficheros_Depurados/df_hosp_UCI_NEW.csv', index= False)