<a href="https://colab.research.google.com/github/patriciaapenat/TFM/blob/main/Notebooks/Data_Frame_Vacunation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/patriciaapenat/TFM.git

Cloning into 'TFM'...
remote: Enumerating objects: 37, done.
remote: Counting objects: 100% (37/37), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 37 (delta 13), reused 16 (delta 6), pack-reused 0
Unpacking objects: 100% (37/37), 459.06 KiB | 4.33 MiB/s, done.

In [6]:
import pandas as pd
import numpy as np
import datetime

In [7]:
# Acceso a los datasets de la OMS:
#df_covid_daily = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-data.csv')
#df_last_covid = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-table-data.csv')
df_vacunation =pd.read_csv ('https://covid19.who.int/who-data/vaccination-data.csv')
#df_vacunation_Meta =pd.read_csv ('https://covid19.who.int/who-data/vaccination-metadata.csv')

In [10]:
df_vacunation

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_LAST_DOSE,PERSONS_LAST_DOSE_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Albania,ALB,EURO,REPORTING,2023-05-14,3080679.0,1348396,107.000,47.379,1277987,44.905,NaN,2021-01-13,6.0,399190.0,14.027
1,Chile,CHL,AMRO,REPORTING,2023-06-02,66273384.0,18106832,346.687,94.720,17716364,92.677,NaN,2020-12-21,5.0,15766986.0,82.480
2,Congo,COG,AFRO,REPORTING,2022-07-31,833210.0,695760,15.100,12.609,654119,11.854,NaN,2021-03-23,4.0,NaN,NaN
3,Côte d’Ivoire,CIV,AFRO,REPORTING,2023-02-19,25263932.0,13568372,95.776,51.438,12164304,46.115,NaN,2021-03-01,5.0,3138712.0,11.899
4,Denmark,DNK,EURO,REPORTING,2023-06-11,14986863.0,4767119,257.400,81.870,4731911,81.266,NaN,2020-12-16,5.0,3634971.0,62.427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Spain,ESP,EURO,REPORTING,2023-06-11,112837406.0,41328627,238.400,87.315,37483217,79.191,NaN,2020-12-30,4.0,26563654.0,56.121
225,Switzerland,CHE,EURO,REPORTING,2023-06-11,16755470.0,6096586,193.600,70.841,5723015,66.500,NaN,2020-12-23,6.0,4996200.0,58.055
226,Syrian Arab Republic,SYR,EMRO,REPORTING,2023-04-18,5090630.0,3295630,29.088,18.831,2358365,13.476,NaN,2021-04-01,11.0,75881.0,0.434
227,Timor-Leste,TLS,SEARO,REPORTING,2023-06-26,2019384.0,884194,153.164,67.063,799627,60.649,NaN,2021-04-07,4.0,335563.0,25.451
228,Viet Nam,VNM,WPRO,REPORTING,2023-06-08,266448231.0,90270583,273.733,92.739,85958364,88.309,NaN,2021-03-08,6.0,57958886.0,59.544

In [11]:
df_vacunation.to_csv('/content/TFM/Ficheros_depurados/df_vacunation.csv')