<a href="https://colab.research.google.com/github/patriciaapenat/TFM/blob/main/Notebooks/prueba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/patriciaapenat/TFM.git

Cloning into 'TFM'...
remote: Enumerating objects: 229, done.
remote: Counting objects: 100% (125/125), done.
remote: Compressing objects: 100% (80/80), done.
remote: Total 229 (delta 71), reused 80 (delta 44), pack-reused 104
Receiving objects: 100% (229/229), 10.35 MiB | 15.54 MiB/s, done.
Resolving deltas: 100% (116/116), done.

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('/content/TFM/Ficheros_Depurados/df_covid_daily_new.csv')

In [4]:
df

,PAIS_NOM,PAIS_ISO3,PAIS_ISO2,FECHA_INFORMADA,OMS_REGION,CASOS_NUEVOS,CASOS_ACUM,MUERTES_NUEVAS,MUERTES_ACUM
0,Afghanistan,AFG,AF,03-01-2020,EMRO,0,0,0,0
1,Afghanistan,AFG,AF,04-01-2020,EMRO,0,0,0,0
2,Afghanistan,AFG,AF,05-01-2020,EMRO,0,0,0,0
3,Afghanistan,AFG,AF,06-01-2020,EMRO,0,0,0,0
4,Afghanistan,AFG,AF,07-01-2020,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...,...
301696,Zimbabwe,ZWE,ZW,24-06-2023,AFRO,0,265413,0,5707
301697,Zimbabwe,ZWE,ZW,25-06-2023,AFRO,0,265413,0,5707
301698,Zimbabwe,ZWE,ZW,26-06-2023,AFRO,0,265413,0,5707
301699,Zimbabwe,ZWE,ZW,27-06-2023,AFRO,0,265413,0,5707
301700,Zimbabwe,ZWE,ZW,28-06-2023,AFRO,0,265413,0,5707