<a href="https://colab.research.google.com/github/patriciaapenat/TFM/blob/main/Notebooks/Data_Frame_Pacientes_Hospitalizados%20%26%20UCI_eu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#! git clone https://github.com/patriciaapenat/TFM.git

### **Fuente de Datos - European Centre for Disease Prevention and Control**
**https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19
**<br>


#### Descarga de datos

**1.- Ingresos en hospital UCI fueron registrados?:** https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19<br>

Enlace de descarga: https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19

Ubicacion: Otros Datasets
    
Nombre:   Data on hospital and ICU admission rates and current occupancy for COVID-19

**üßæInformacion del Dataset**<br>
*  Los usuarios deben tener en cuenta que los archivos de datos descargables contienen informaci√≥n sobre las tasas de admisi√≥n de hospitalizaci√≥n y Unidad de Cuidados Intensivos (UCI) y la ocupaci√≥n actual para COVID-19 por fecha y pa√≠s. Cada fila contiene los datos correspondientes a una determinada fecha (d√≠a o semana) y por pa√≠s. El archivo se actualiza semanalmente. Puede utilizar los datos de acuerdo con la pol√≠tica de derechos de autor del ECDC.

El dataset que estaremos trabajando contiene Informacion acerca de Ocupaci√≥n diaria del hospital, Ocupaci√≥n diaria de la UCI,
Nuevos ingresos hospitalarios semanales por 100k,
Nuevas admisiones semanales en UCI por 100k
(Daily hospital occupancy,Daily ICU occupancy, Weekly new hospital admissions per 100k, ,Weekly new ICU admissions per 100k)
en paises europeos.

Columnas:
country, indicator, date, year_week, value, source, url

In [2]:
import pandas as pd
import numpy as np
import datetime

# Acceso al dataset de hospitalizaciones en UCI

Exloraci√≥n e Informaci√≥n del DataFrame **df_hosp_UCI**

In [3]:
df_hosp_UCI = pd.read_csv ('https://opendata.ecdc.europa.eu/covid19/hospitalicuadmissionrates/csv/data.csv')
df_hosp_UCI

,country,indicator,date,year_week,value,source,url
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.000000,Country_Website,NaN
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.000000,Country_Website,NaN
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.000000,Country_Website,NaN
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.000000,Country_Website,NaN
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.000000,Country_Website,NaN
...,...,...,...,...,...,...,...
28100,Sweden,Weekly new ICU admissions per 100k,2023-09-10,2023-W36,0.047836,TESSy COVID-19 combined sources,NaN
28101,Sweden,Weekly new ICU admissions per 100k,2023-09-17,2023-W37,0.038269,TESSy COVID-19 combined sources,NaN
28102,Sweden,Weekly new ICU admissions per 100k,2023-09-24,2023-W38,0.095672,TESSy COVID-19 combined sources,NaN
28103,Sweden,Weekly new ICU admissions per 100k,2023-10-01,2023-W39,0.047836,TESSy COVID-19 combined sources,NaN
28104,Sweden,Weekly new ICU admissions per 100k,2023-10-08,2023-W40,0.066971,TESSy COVID-19 combined sources,NaN

In [4]:
df_hosp_UCI['country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Cyprus', 'Czechia', 'Estonia',
       'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Malta', 'Netherlands', 'Portugal', 'Romania', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden'], dtype=object)

In [5]:
df_paises = pd.read_csv ('https://raw.githubusercontent.com/patriciaapenat/TFM/main/Ficheros_Depurados/paises_def.csv')
df_paises

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2,POBLACION,LONGITUD,LATITUD,GDP_PER_CAPITA,USO_INDIVIDUAL_INTERNET,USO_DE_AGUA_POTABLE,USO_DE_SERVICIOS_BASICOS_SANEAMIENTO,DENSIDAD_DE_POBLACION_X_KM2,POBLACION_RURAL,POBLACION_URBANA,TEMPERATURA_PROMEDIO,ALTURA_PROMEDIO
0,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola,35588987.0,17.873887,-11.202692,1502.950754,32.550147,57.167738,51.660329,26.813577,33.175,66.825,22.508965,1112.0
1,BDI,BI,Burundi,AF,Africa,AFRO,Africa,Burundi,12889576.0,29.918886,-3.373056,216.827417,3.787954,62.207122,45.727511,475.865537,86.292,13.708,20.816609,1504.0
2,BEN,BJ,Benin,AF,Africa,AFRO,Africa,Benin,13352864.0,2.315834,9.307690,1237.949295,28.229154,65.414123,16.962884,112.124184,51.585,48.415,27.937785,273.0
3,BFA,BF,Burkina Faso,AF,Africa,AFRO,Africa,Burkina Faso,22673762.0,-1.561593,12.238333,833.244336,13.937972,47.214854,21.664373,78.664569,69.393,30.607,28.909989,297.0
4,BWA,BW,Botswana,AF,Africa,AFRO,Africa,Botswana,2630296.0,24.684866,-22.328474,5875.070606,72.748020,92.213563,80.026243,4.493148,29.123,70.877,22.505484,1013.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,VCT,VC,Saint Vincent and the Grenadines,NaN,North America,AMRO,Am√©rica,Saint Vincent and the Grenadines,103948.0,-61.287228,12.984305,8306.367581,80.429529,NaN,NaN,268.287179,46.968,53.032,NaN,NaN
245,VGB,VG,British Virgin Islands,NaN,North America,AMRO,Am√©rica,British Virgin Islands,31305.0,-64.639968,18.420695,NaN,NaN,99.864384,NaN,206.066667,51.485,48.515,27.242333,NaN
246,BLM,BL,San Bartolom√©,NaN,North America,AMRO,Am√©rica,Saint Barth√©lemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,MAF,MF,San Mart√≠n,NaN,North America,AMRO,Am√©rica,Saint Martin,31791.0,NaN,NaN,NaN,NaN,99.999271,100.000000,651.060000,NaN,NaN,NaN,NaN
248,SXM,SX,San Mart√≠n,NaN,North America,AMRO,Am√©rica,San Mart√≠n,43389.0,NaN,NaN,29314.094295,NaN,NaN,NaN,1244.411765,0.000,100.000,NaN,NaN

In [6]:
df_hosp_UCI_NEW = pd.merge(left=df_hosp_UCI, right=df_paises,
                      how='left', left_on='country', right_on='PAIS_NOM_2')

In [7]:
df_hosp_UCI_NEW.head()

,country,indicator,date,year_week,value,source,url,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,...,LATITUD,GDP_PER_CAPITA,USO_INDIVIDUAL_INTERNET,USO_DE_AGUA_POTABLE,USO_DE_SERVICIOS_BASICOS_SANEAMIENTO,DENSIDAD_DE_POBLACION_X_KM2,POBLACION_RURAL,POBLACION_URBANA,TEMPERATURA_PROMEDIO,ALTURA_PROMEDIO
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.0,Country_Website,NaN,AUT,AT,Austria,...,47.516231,48809.226876,87.529428,100.0,99.972605,108.057004,41.252,58.748,7.435462,910.0
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.0,Country_Website,NaN,AUT,AT,Austria,...,47.516231,48809.226876,87.529428,100.0,99.972605,108.057004,41.252,58.748,7.435462,910.0
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.0,Country_Website,NaN,AUT,AT,Austria,...,47.516231,48809.226876,87.529428,100.0,99.972605,108.057004,41.252,58.748,7.435462,910.0
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.0,Country_Website,NaN,AUT,AT,Austria,...,47.516231,48809.226876,87.529428,100.0,99.972605,108.057004,41.252,58.748,7.435462,910.0
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.0,Country_Website,NaN,AUT,AT,Austria,...,47.516231,48809.226876,87.529428,100.0,99.972605,108.057004,41.252,58.748,7.435462,910.0

In [8]:
df_hosp_UCI_NEW.isnull().sum()

country                                     0
indicator                                   0
date                                        0
year_week                                   0
value                                       0
source                                      0
url                                     28105
PAIS_ISO3                                   0
PAIS_ISO2                                   0
PAIS_NOM                                    0
COD_CONTINENTE                              0
CONTINENTE                                  0
OMS_REGION                                  0
DESC_OMS_REGION                             0
PAIS_NOM_2                                  0
POBLACION                                   0
LONGITUD                                    0
LATITUD                                     0
GDP_PER_CAPITA                              0
USO_INDIVIDUAL_INTERNET                     0
USO_DE_AGUA_POTABLE                         0
USO_DE_SERVICIOS_BASICOS_SANEAMIENTO        0
DENSIDAD_DE_POBLACION_X_KM2                 0
POBLACION_RURAL                             0
POBLACION_URBANA                            0
TEMPERATURA_PROMEDIO                        0
ALTURA_PROMEDIO                          2718
dtype: int64

In [9]:
df_hosp_UCI_NEW.columns

Index(['country', 'indicator', 'date', 'year_week', 'value', 'source', 'url',
       'PAIS_ISO3', 'PAIS_ISO2', 'PAIS_NOM', 'COD_CONTINENTE', 'CONTINENTE',
       'OMS_REGION', 'DESC_OMS_REGION', 'PAIS_NOM_2', 'POBLACION', 'LONGITUD',
       'LATITUD', 'GDP_PER_CAPITA', 'USO_INDIVIDUAL_INTERNET',
       'USO_DE_AGUA_POTABLE', 'USO_DE_SERVICIOS_BASICOS_SANEAMIENTO',
       'DENSIDAD_DE_POBLACION_X_KM2', 'POBLACION_RURAL', 'POBLACION_URBANA',
       'TEMPERATURA_PROMEDIO', 'ALTURA_PROMEDIO'],
      dtype='object')

In [10]:
df_hosp_UCI_NEW = df_hosp_UCI_NEW[['PAIS_ISO3','PAIS_NOM','indicator','date','year_week','value','source','url']]

In [11]:
df_hosp_UCI_NEW.head()

,PAIS_ISO3,PAIS_NOM,indicator,date,year_week,value,source,url
0,AUT,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.0,Country_Website,NaN
1,AUT,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.0,Country_Website,NaN
2,AUT,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.0,Country_Website,NaN
3,AUT,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.0,Country_Website,NaN
4,AUT,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.0,Country_Website,NaN

In [12]:
df_hosp_UCI_NEW[df_hosp_UCI_NEW['PAIS_ISO3'].isnull()].count()

PAIS_ISO3    0
PAIS_NOM     0
indicator    0
date         0
year_week    0
value        0
source       0
url          0
dtype: int64

Transformar la variable **date** y **year_week** en formato **datetime**

In [13]:
df_hosp_UCI_NEW['date']= pd.to_datetime(df_hosp_UCI_NEW['date']).dt.strftime('%d-%m-%Y')

In [14]:
# Convertir la columna 'year_week' a tipo datetime
df_hosp_UCI_NEW['year_week'] = pd.to_datetime(df_hosp_UCI_NEW['year_week'] + '-1', format='%Y-W%W-%w')
# Extraer el n√∫mero de semana y el a√±o
df_hosp_UCI_NEW['year_week'] = df_hosp_UCI_NEW['year_week'].dt.strftime('%Y-%W')

In [15]:
df_hosp_UCI_NEW

,PAIS_ISO3,PAIS_NOM,indicator,date,year_week,value,source,url
0,AUT,Austria,Daily hospital occupancy,01-04-2020,2020-14,856.000000,Country_Website,NaN
1,AUT,Austria,Daily hospital occupancy,02-04-2020,2020-14,823.000000,Country_Website,NaN
2,AUT,Austria,Daily hospital occupancy,03-04-2020,2020-14,829.000000,Country_Website,NaN
3,AUT,Austria,Daily hospital occupancy,04-04-2020,2020-14,826.000000,Country_Website,NaN
4,AUT,Austria,Daily hospital occupancy,05-04-2020,2020-14,712.000000,Country_Website,NaN
...,...,...,...,...,...,...,...,...
28100,SWE,Sweden,Weekly new ICU admissions per 100k,10-09-2023,2023-36,0.047836,TESSy COVID-19 combined sources,NaN
28101,SWE,Sweden,Weekly new ICU admissions per 100k,17-09-2023,2023-37,0.038269,TESSy COVID-19 combined sources,NaN
28102,SWE,Sweden,Weekly new ICU admissions per 100k,24-09-2023,2023-38,0.095672,TESSy COVID-19 combined sources,NaN
28103,SWE,Sweden,Weekly new ICU admissions per 100k,01-10-2023,2023-39,0.047836,TESSy COVID-19 combined sources,NaN
28104,SWE,Sweden,Weekly new ICU admissions per 100k,08-10-2023,2023-40,0.066971,TESSy COVID-19 combined sources,NaN

Elimino la columna **url** del **df_hosp_UCI_NEW** mediante la funci√≥n **.drop**

In [16]:
df_hosp_UCI_NEW.drop(['url'], axis=1, inplace=True)

In [17]:
df_hosp_UCI_NEW[df_hosp_UCI_NEW['PAIS_ISO3'].isnull()]

Empty DataFrame
Columns: [PAIS_ISO3, PAIS_NOM, indicator, date, year_week, value, source]
Index: []

In [18]:
df_hosp_UCI_NEW
df_hosp_UCI_NEW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28105 entries, 0 to 28104
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PAIS_ISO3  28105 non-null  object
 1   PAIS_NOM   28105 non-null  object
 2   indicator  28105 non-null  object
 3   date       28105 non-null  object
 4   year_week  28105 non-null  object
 5   value      28105 non-null  float64
 6   source     28105 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.5+ MB

In [19]:
df_hosp_UCI_NEW.duplicated().values.any()

False

In [20]:
df_hosp_UCI_NEW.isnull().sum()

PAIS_ISO3    0
PAIS_NOM     0
indicator    0
date         0
year_week    0
value        0
source       0
dtype: int64

In [21]:
df_hosp_UCI_NEW.columns =['PAIS_ISO3','PAIS_NOM','INDICADOR','FECHA','ANY_SEMANA','VALOR','FUENTE_ORIGEN']

In [22]:
#df_hosp_UCI_NEW.to_csv('/content/TFM/Ficheros_Depurados/df_hosp_UCI_NEW.csv', index= False)

# Establecemos¬†**Conexi√≥n a BBDD y Carga de Ficheros**¬†(Azure Data Studio)

In [23]:
import pyodbc
server = 'servidortfmcovid-v2.database.windows.net'
database = 'basedatostfmcovid-v2'
username = 'admintfmcovid_v2'
password = 'TFMcovid2023!_v2'
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# Nombre de la tabla en la base de datos
nombre_de_tabla = 'dbo.CASOS_HOSPITALIZADOS_UCI_EU'  # Reemplaza 'MiTabla' por el nombre de tu tabla

# Eliminar registros
cursor.execute(f"DELETE FROM {nombre_de_tabla}")

# Inserta los datos del DataFrame en la tabla
for index, row in df_hosp_UCI_NEW.iterrows():
    insert_query = f"INSERT INTO {nombre_de_tabla} ({', '.join(df_hosp_UCI_NEW.columns)}) VALUES ({', '.join(['?'] * len(df_hosp_UCI_NEW.columns))})"
    cursor.execute(insert_query, tuple(row))
    cnxn.commit()

# Cierra la conexi√≥n
cnxn.close()