### Ficheros de la Organizacion Mundial de la Salud
**https://covid19.who.int/data**<br>
**https://ourworldindata.org/coronavirus#coronavirus-country-profiles**<br>


#### Descarga de datos
- Ultimo reporte de casos y muertes notificados a la OMS:** https://covid19.who.int/WHO-COVID-19-global-table-data.csv<br>

#### Información del Dataset
- Los usuarios deben tener en cuenta que, además de capturar nuevos casos y muertes notificadas en un día determinado, las actualizaciones se realizan retrospectivamente para corregir los recuentos de días anteriores según sea necesario en función de la información recibida posteriormente. Consulte "Datos agregados diarios de recuento de casos y muertes" más arriba para obtener más detalles sobre el cálculo de nuevos casos/muertes.

#### Exploración
- Exloración del último reporte de casos y muertes notificados a la OMS.
- Al dataframe lo llamaremos "df_latest_covid".

In [3]:
import pandas as pd

In [14]:
df_latests_covid = pd.read_csv("C:/Users/joschava/Dropbox/TFM COVID/Limpieza de Archivos Fuente/Latest reported counts of cases and deaths/Latest reported counts of cases and deaths.csv", sep=',', header='infer', index_col=False)
df_latests_covid.head()

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,761402282,9768.405152,534869,6.862098,2692,6887000,88.356717,4243,0.054436,25
1,United States of America,Americas,102697566,31026.206000,152968,46.214000,0,1117054,337.476000,2084,0.630000,0
2,China,Western Pacific,99238143,6744.989000,503,0.034000,0,120894,8.217000,70,0.005000,0
3,India,South-East Asia,44707525,3239.665000,9407,0.682000,0,530841,38.467000,28,0.002000,0
4,France,Europe,38677413,59467.703000,42503,65.350000,3,161857,248.860000,122,0.188000,0

df_latests_covid = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-table-data.csv', sep=',', header='infer', index_col=False)
df_latests_covid.head()

In [15]:
df_latests_covid.shape

(238, 12)

In [16]:
df_latests_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Name                                                          238 non-null    object
 1   WHO Region                                                    237 non-null    object
 2   Cases - cumulative total                                      238 non-null    int64
 3   Cases - cumulative total per 100000 population                237 non-null    float64
 4   Cases - newly reported in last 7 days                         238 non-null    int64
 5   Cases - newly reported in last 7 days per 100000 population   237 non-null    float64
 6   Cases - newly reported in last 24 hours                       238 non-null    int64
 7   Deaths - cumulative total                                     238 non-null    int64
 8   Deaths - cumulative total per 100000 population               237 non-null    float64
 9   Deaths - newly reported in last 7 days                        238 non-null    int64
 10  Deaths - newly reported in last 7 days per 100000 population  237 non-null    float64
 11  Deaths - newly reported in last 24 hours                      238 non-null    int64
dtypes: float64(4), int64(6), object(2)
memory usage: 22.4+ KB

#### Exploración
- Observamos si tenemos valores duplicados

In [17]:
df_latests_covid.duplicated().values.any()

False

#### Exploración
- Observamos si tenemos valores nulos

In [18]:
df_latests_covid.isnull().values.sum()

5

#### Exploración
- Identificamos adónde están los valores nulos

In [25]:
df_latests_covid.isnull().sum()

Name                                                            0
WHO Region                                                      1
Cases - cumulative total                                        0
Cases - cumulative total per 100000 population                  1
Cases - newly reported in last 7 days                           0
Cases - newly reported in last 7 days per 100000 population     1
Cases - newly reported in last 24 hours                         0
Deaths - cumulative total                                       0
Deaths - cumulative total per 100000 population                 1
Deaths - newly reported in last 7 days                          0
Deaths - newly reported in last 7 days per 100000 population    1
Deaths - newly reported in last 24 hours                        0
dtype: int64

In [26]:
df_covid_final_NaN = df_latests_covid[df_latests_covid.isnull().any(axis=1)]
df_covid_final_NaN

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,761402282,9768.405152,534869,6.862098,2692,6887000,88.356717,4243,0.054436,25
230,Other,Other,764,NaN,0,NaN,0,13,NaN,0,NaN,0

#### Transformación
- Ambas líneas podemos eliminarlas de nuestro DF por ser "total" y "otros" (no podremos analizar o extraer nada de esta informacion).

In [27]:
df_latest_covid_transformed = df_latests_covid.dropna()
df_latest_covid_transformed

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
1,United States of America,Americas,102697566,31026.206,152968,46.214,0,1117054,337.476,2084,0.630,0
2,China,Western Pacific,99238143,6744.989,503,0.034,0,120894,8.217,70,0.005,0
3,India,South-East Asia,44707525,3239.665,9407,0.682,0,530841,38.467,28,0.002,0
4,France,Europe,38677413,59467.703,42503,65.350,3,161857,248.860,122,0.188,0
5,Germany,Europe,38338298,46098.129,21329,25.646,0,170493,205.001,51,0.061,0
...,...,...,...,...,...,...,...,...,...,...,...,...
233,Holy See,Europe,26,3213.844,0,0.000,0,0,0.000,0,0.000,0
234,Tokelau,Western Pacific,5,370.370,0,0.000,0,0,0.000,0,0.000,0
235,Pitcairn Islands,Western Pacific,4,8000.000,0,0.000,0,0,0.000,0,0.000,0
236,Democratic People's Republic of Korea,South-East Asia,0,0.000,0,0.000,0,0,0.000,0,0.000,0
237,Turkmenistan,Europe,0,0.000,0,0.000,0,0,0.000,0,0.000,0

#### Transformación
- Validamos

In [29]:
df_latest_covid_transformed[df_latest_covid_transformed.isnull().any(axis=1)]

Empty DataFrame
Columns: [Name, WHO Region, Cases - cumulative total, Cases - cumulative total per 100000 population, Cases - newly reported in last 7 days, Cases - newly reported in last 7 days per 100000 population, Cases - newly reported in last 24 hours, Deaths - cumulative total, Deaths - cumulative total per 100000 population, Deaths - newly reported in last 7 days, Deaths - newly reported in last 7 days per 100000 population, Deaths - newly reported in last 24 hours]
Index: []

#### Transformación
- Llamamos tabla de paises para obtener ISO3

In [46]:
df_country = pd.read_csv("C:/Users/joschava/Dropbox/TFM COVID/Limpieza de Archivos Fuente/paises_region_oms_v2.csv")
df_country

,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2
0,AGO,AO,Angola,AF,Africa,AFRO,Africa,Angola
1,BDI,BI,Burundi,AF,Africa,AFRO,Africa,Burundi
2,BEN,BJ,Benin,AF,Africa,AFRO,Africa,Benin
3,BFA,BF,Burkina Faso,AF,Africa,AFRO,Africa,Burkina Faso
4,BWA,BW,Botswana,AF,Africa,AFRO,Africa,Botswana
...,...,...,...,...,...,...,...,...
244,VCT,VC,Saint Vincent and the Grenadines,NaN,North America,AMRO,América,Saint Vincent and the Grenadines
245,VGB,VG,British Virgin Islands,NaN,North America,AMRO,América,British Virgin Islands
246,BLM,BL,San Bartolomé,NaN,North America,AMRO,América,Saint Barthélemy
247,MAF,MF,San Martín,NaN,North America,AMRO,América,Saint Martin
248,SXM,SX,San Martín,NaN,North America,AMRO,América,San Martín

#### Transformación
- Cruzamos las tablas y luego limpiamos los registros

In [49]:
df_latest_covid_transformed_merge = pd.merge(left=df_latest_covid_transformed, right=df_country, how='left', left_on='Name', right_on='PAIS_NOM_2')
df_latest_covid_transformed_merge

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,PAIS_ISO3,PAIS_ISO2,PAIS_NOM,COD_CONTINENTE,CONTINENTE,OMS_REGION,DESC_OMS_REGION,PAIS_NOM_2
0,United States of America,Americas,102697566,31026.206,152968,46.214,0,1117054,337.476,2084,0.630,0,USA,US,United States,NaN,North America,AMRO,América,United States of America
1,China,Western Pacific,99238143,6744.989,503,0.034,0,120894,8.217,70,0.005,0,CHN,CN,China,AS,Asia,WPRO,Pacífico Occidental,China
2,India,South-East Asia,44707525,3239.665,9407,0.682,0,530841,38.467,28,0.002,0,IND,IN,India,AS,Asia,SEARO,Sudeste Asiático,India
3,France,Europe,38677413,59467.703,42503,65.350,3,161857,248.860,122,0.188,0,FRA,FR,France,EU,Europe,EURO,Europa,France
4,Germany,Europe,38338298,46098.129,21329,25.646,0,170493,205.001,51,0.061,0,DEU,DE,Germany,EU,Europe,EURO,Europa,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Holy See,Europe,26,3213.844,0,0.000,0,0,0.000,0,0.000,0,VAT,VA,Holy See (Vatican City State),EU,Europe,Z999,Sin determinar,Holy See
232,Tokelau,Western Pacific,5,370.370,0,0.000,0,0,0.000,0,0.000,0,TKL,TK,Tokelau,OC,Oceania,WPRO,Pacífico Occidental,Tokelau
233,Pitcairn Islands,Western Pacific,4,8000.000,0,0.000,0,0,0.000,0,0.000,0,PCN,PN,Pitcairn,OC,Oceania,WPRO,Pacífico Occidental,Pitcairn Islands
234,Democratic People's Republic of Korea,South-East Asia,0,0.000,0,0.000,0,0,0.000,0,0.000,0,PRK,KP,North Korea,AS,Asia,SEARO,Sudeste Asiático,Democratic People's Republic of Korea
235,Turkmenistan,Europe,0,0.000,0,0.000,0,0,0.000,0,0.000,0,TKM,TM,Turkmenistan,AS,Asia,EURO,Europa,Turkmenistan

In [51]:
df_latest_covid_transformed_merge['PAIS_ISO3'].fillna('Z99', inplace=True)
df_latest_covid_transformed_merge['PAIS_ISO2'].fillna('Z9', inplace=True)
df_latest_covid_transformed_merge['PAIS_NOM'].fillna('Otros', inplace=True)

In [54]:
df_latest_covid_final = df_latest_covid_transformed_merge[['PAIS_ISO3', 'WHO Region','Cases - cumulative total','Cases - cumulative total per 100000 population', 'Cases - newly reported in last 7 days', 'Cases - newly reported in last 7 days per 100000 population', 'Cases - newly reported in last 24 hours', 'Deaths - cumulative total', 'Deaths - cumulative total per 100000 population', 'Deaths - newly reported in last 7 days', 'Deaths - newly reported in last 7 days per 100000 population', 'Deaths - newly reported in last 24 hours']]
df_latest_covid_final

,PAIS_ISO3,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,USA,Americas,102697566,31026.206,152968,46.214,0,1117054,337.476,2084,0.630,0
1,CHN,Western Pacific,99238143,6744.989,503,0.034,0,120894,8.217,70,0.005,0
2,IND,South-East Asia,44707525,3239.665,9407,0.682,0,530841,38.467,28,0.002,0
3,FRA,Europe,38677413,59467.703,42503,65.350,3,161857,248.860,122,0.188,0
4,DEU,Europe,38338298,46098.129,21329,25.646,0,170493,205.001,51,0.061,0
...,...,...,...,...,...,...,...,...,...,...,...,...
231,VAT,Europe,26,3213.844,0,0.000,0,0,0.000,0,0.000,0
232,TKL,Western Pacific,5,370.370,0,0.000,0,0,0.000,0,0.000,0
233,PCN,Western Pacific,4,8000.000,0,0.000,0,0,0.000,0,0.000,0
234,PRK,South-East Asia,0,0.000,0,0.000,0,0,0.000,0,0.000,0
235,TKM,Europe,0,0.000,0,0.000,0,0,0.000,0,0.000,0

In [55]:
df_latest_covid_final.to_csv("C:/Users/joschava/Dropbox/TFM COVID/Limpieza de Archivos Fuente/Latest reported counts of cases and deaths/Output - Latest reported counts of cases and deaths.csv")