In [2]:
### ** TFM COVID-19 **

Enlace de descarga: https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19

Ubicacion: Otros Datasets
    
Nombre:   Data on hospital and ICU admission rates and current occupancy for COVID-19
Ultima fecha de modificaci√≤n: 24 mayo 2023  

A continuacion vamos a trabajar sobre un dataset que contiene datos nulos, al cual le vamos a aplicar tecnicas de limpieza como:

‚úîÔ∏èIdentificar y eliminar casos nulos<br>

SyntaxError: invalid syntax (501567693.py, line 3)

In [3]:
**üßæInformacion del Dataset**<br>
El dataset que estaremos trabajando contiene Informacion acerca de Ocupaci√≥n diaria del hospital, Ocupaci√≥n diaria de la UCI,
Nuevos ingresos hospitalarios semanales por 100k,
Nuevas admisiones semanales en UCI por 100k
(Daily hospital occupancy,Daily ICU occupancy, Weekly new hospital admissions per 100k, ,Weekly new ICU admissions per 100k) 
en paises europeos.

Columnas: 
country, indicator, date, year_week, value, source, url

SyntaxError: invalid syntax (102449352.py, line 1)

In [4]:
import ydata_profiling

In [5]:
import pandas as pd
import numpy as np
import datetime
import ypandas_profiling

ModuleNotFoundError: No module named 'ypandas_profiling'

In [6]:
df_uci = pd.read_csv('D:/PERSONAL AMAIA/master/master/TFM/Data on hospital and ICU admission rates and current occupancy for COVID-19.csv')

df_uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24760 entries, 0 to 24759
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    24760 non-null  object
 1   indicator  24760 non-null  object
 2   date       24760 non-null  object
 3   year_week  24760 non-null  object
 4   value      24760 non-null  float64
 5   source     24760 non-null  object
 6   url        0 non-null      float64
dtypes: float64(2), object(5)
memory usage: 1.3+ MB

In [15]:
df_uci.shape

(24760, 7)

In [7]:
df_uci.isnull()

       country  indicator   date  year_week  value  source   url
0        False      False  False      False  False   False  True
1        False      False  False      False  False   False  True
2        False      False  False      False  False   False  True
3        False      False  False      False  False   False  True
4        False      False  False      False  False   False  True
...        ...        ...    ...        ...    ...     ...   ...
24755    False      False  False      False  False   False  True
24756    False      False  False      False  False   False  True
24757    False      False  False      False  False   False  True
24758    False      False  False      False  False   False  True
24759    False      False  False      False  False   False  True

[24760 rows x 7 columns]

In [8]:
df_uci.isnull().sum() #contar nulos

country          0
indicator        0
date             0
year_week        0
value            0
source           0
url          24760
dtype: int64

In [9]:
# elimina columnas en las que todos los valores son nulos
df_uci2 = df_uci.dropna(axis=1, how='all')

In [10]:
df_uci2.isnull().sum() #contar nulos

country      0
indicator    0
date         0
year_week    0
value        0
source       0
dtype: int64

In [11]:
df_uci2.dtypes
df_uci2.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
24755    False
24756    False
24757    False
24758    False
24759    False
Length: 24760, dtype: bool

In [13]:
df_uci2.isnull().sum()

country      0
indicator    0
date         0
year_week    0
value        0
source       0
dtype: int64

In [18]:
df_uci['date']= pd.to_datetime(df_uci2['date'])

In [21]:

df_uci2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24760 entries, 0 to 24759
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    24760 non-null  object
 1   indicator  24760 non-null  object
 2   date       24760 non-null  datetime64[ns]
 3   year_week  24760 non-null  object
 4   value      24760 non-null  float64
 5   source     24760 non-null  object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 1.1+ MB

In [22]:
df_uci2.isnull().values.any()

False