### **Fuente de Datos - Ficheros WHO OMS**
**https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19
**<br>


#### Descarga de datos

**1.- Ingresos en hospital UCI fueron registrados?:** https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19<br>

Enlace de descarga: https://www.ecdc.europa.eu/en/publications-data/download-data-hospital-and-icu-admission-rates-and-current-occupancy-covid-19

Ubicacion: Otros Datasets
    
Nombre:   Data on hospital and ICU admission rates and current occupancy for COVID-19

**ЬInformacion del Dataset**<br>
*  Los usuarios deben tener en cuenta que los archivos de datos descargables contienen informaci贸n sobre las tasas de admisi贸n de hospitalizaci贸n y Unidad de Cuidados Intensivos (UCI) y la ocupaci贸n actual para COVID-19 por fecha y pa铆s. Cada fila contiene los datos correspondientes a una determinada fecha (d铆a o semana) y por pa铆s. El archivo se actualiza semanalmente. Puede utilizar los datos de acuerdo con la pol铆tica de derechos de autor del ECDC.

El dataset que estaremos trabajando contiene Informacion acerca de Ocupaci贸n diaria del hospital, Ocupaci贸n diaria de la UCI,
Nuevos ingresos hospitalarios semanales por 100k,
Nuevas admisiones semanales en UCI por 100k
(Daily hospital occupancy,Daily ICU occupancy, Weekly new hospital admissions per 100k, ,Weekly new ICU admissions per 100k) 
en paises europeos.

Columnas: 
country, indicator, date, year_week, value, source, url

# Acceso a los datasets de la ECDC:

Exloraci贸n e Informaci贸n del DataFrame **df_uci**

In [100]:
import pandas as pd

In [101]:
df_uci = pd.read_csv('D:/PERSONAL AMAIA/master/master/TFM/Data on hospital and ICU admission rates and current occupancy for COVID-19.csv')

df_uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27277 entries, 0 to 27276
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    27277 non-null  object
 1   indicator  27277 non-null  object
 2   date       27277 non-null  object
 3   year_week  27277 non-null  object
 4   value      27277 non-null  float64
 5   source     27277 non-null  object
 6   url        0 non-null      float64
dtypes: float64(2), object(5)
memory usage: 1.5+ MB

In [102]:
df_uci.head()

,country,indicator,date,year_week,value,source,url
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.0,Country_Website,NaN
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.0,Country_Website,NaN
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.0,Country_Website,NaN
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.0,Country_Website,NaN
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.0,Country_Website,NaN

In [103]:
df_uci.shape

(27277, 7)

In [104]:
df_uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27277 entries, 0 to 27276
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    27277 non-null  object
 1   indicator  27277 non-null  object
 2   date       27277 non-null  object
 3   year_week  27277 non-null  object
 4   value      27277 non-null  float64
 5   source     27277 non-null  object
 6   url        0 non-null      float64
dtypes: float64(2), object(5)
memory usage: 1.5+ MB

Transformamos los **campos de fecha** que aparecen con tipo de datos cadena de caracteres a formato fecha<br>

1.- date<br>
2.- year_week<br>

In [106]:
df_uci['Date']= pd.to_datetime(df_uci['date'])

Verificamos que se han modificado el tipo de datos en ambas variables de fecha

In [75]:
df_uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27277 entries, 0 to 27276
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    27277 non-null  object
 1   indicator  27277 non-null  object
 2   date       27277 non-null  datetime64[ns]
 3   year_week  27277 non-null  object
 4   value      27277 non-null  float64
 5   source     27277 non-null  object
 6   url        0 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.5+ MB

Transformamos los **campos num茅ricos** que aparecen como tipo de datos cadena de caracteres "Object" a formato num茅rico <br>

In [76]:
df_uci['value']= pd.to_numeric(df_uci['value'], downcast='signed')

Verificamos que se ha modificado el tipo de datos a num茅rico.

In [77]:
df_uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27277 entries, 0 to 27276
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    27277 non-null  object
 1   indicator  27277 non-null  object
 2   date       27277 non-null  datetime64[ns]
 3   year_week  27277 non-null  object
 4   value      27277 non-null  float64
 5   source     27277 non-null  object
 6   url        0 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.5+ MB

Observamos que no hay **ning煤n valor duplicado**

In [78]:
df_uci.duplicated().values.any()

False

Observamos que hay **27277 valores nulos**

In [79]:
df_uci.isnull().values.sum()

27277

Identificamos en que **Variable** y la **suma de valores nulos**

In [80]:
df_uci.isnull().sum()

country          0
indicator        0
date             0
year_week        0
value            0
source           0
url          27277
dtype: int64

Identificamos **el/los registros** donde se ecuentran los **valores nulos**<br>

1.-URL<br>

In [81]:
df_uci[df_uci['url'].isnull()]

,country,indicator,date,year_week,value,source,url
0,Austria,Daily hospital occupancy,2020-04-01,2020-W14,856.000000,Country_Website,NaN
1,Austria,Daily hospital occupancy,2020-04-02,2020-W14,823.000000,Country_Website,NaN
2,Austria,Daily hospital occupancy,2020-04-03,2020-W14,829.000000,Country_Website,NaN
3,Austria,Daily hospital occupancy,2020-04-04,2020-W14,826.000000,Country_Website,NaN
4,Austria,Daily hospital occupancy,2020-04-05,2020-W14,712.000000,Country_Website,NaN
...,...,...,...,...,...,...,...
27272,Sweden,Weekly new ICU admissions per 100k,2023-04-23,2023-W16,0.172210,TESSy COVID-19 combined sources,NaN
27273,Sweden,Weekly new ICU admissions per 100k,2023-04-30,2023-W17,0.162643,TESSy COVID-19 combined sources,NaN
27274,Sweden,Weekly new ICU admissions per 100k,2023-05-07,2023-W18,0.095672,TESSy COVID-19 combined sources,NaN
27275,Sweden,Weekly new ICU admissions per 100k,2023-05-14,2023-W19,0.095672,TESSy COVID-19 combined sources,NaN
27276,Sweden,Weekly new ICU admissions per 100k,2023-05-21,2023-W20,0.086105,TESSy COVID-19 combined sources,NaN

Sustituimos los valores **NaN** por valores **Null**<br>

In [82]:
df_uci.dropna(axis=0, inplace=True)

Verificamos la instrucci贸n y observamos que **no existen valores nulos**

In [83]:
df_uci.isnull().sum()

country      0.0
indicator    0.0
date         0.0
year_week    0.0
value        0.0
source       0.0
url          0.0
dtype: float64

Mediante la funci贸n **.columns** obtenemos el orden y el nombre de las columnas del **df_uci**

In [84]:
df_uci.columns

Index(['country', 'indicator', 'date', 'year_week', 'value', 'source', 'url'], dtype='object')

In [85]:
df_uci.shape

(0, 7)

Renombramos el nombre de las Columnas del **df_uci**

In [86]:
df_uci.columns =['PAIS', 'INDICADOR', 'FECHA', 'ANO_SEMANA', 'VALOR',
       'FUENTE', 'URL']

In [28]:
df_uci.columns
df_uci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PAIS        0 non-null      object
 1   INDICADOR   0 non-null      object
 2   FECHA       0 non-null      datetime64[ns]
 3   ANO_SEMANA  0 non-null      object
 4   VALOR       0 non-null      float64
 5   FUENTE      0 non-null      object
 6   URL         0 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 0.0+ bytes

In [87]:
df_uci['PAIS'].unique()
len(df_uci['PAIS'].unique())

0

In [110]:
df_uci['PAIS']

KeyError: 'PAIS'

Con el m贸dulo **pycountry** obtenemos datos adicionales para el dataframe y se renombran las columnas con la funci贸n **.columns** ACA NO SE SI TENGO QUE HACERLO...

In [28]:
import pycountry_convert as pc

def obtener_continente_ISO3(codigo_ISO3):
    try:
        continente_code = pc.country_alpha3_to_country_alpha2(codigo_ISO3)
        continente = pc.country_alpha2_to_continent_code(continente_code)
        continente_nombre = pc.convert_continent_code_to_continent_name(continente)
        return continente_nombre, continente
    except:
        return None, None

df_vacunation[['Continente', 'ISO_continente']] = df_vacunation['ISO3'].apply(obtener_continente_ISO3).apply(pd.Series)

indice_ISO3 = df_vacunation.columns.get_loc("ISO3")

df_vacunation.insert(indice_ISO3 + 1, "Continente", df_vacunation.pop("Continente"))
df_vacunation.insert(indice_ISO3 + 2, "ISO_continente", df_vacunation.pop("ISO_continente"))

In [89]:
df_uci

Empty DataFrame
Columns: [PAIS, INDICADOR, FECHA, ANO_SEMANA, VALOR, FUENTE, URL]
Index: []

In [90]:
df_uci.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PAIS        0 non-null      object
 1   INDICADOR   0 non-null      object
 2   FECHA       0 non-null      datetime64[ns]
 3   ANO_SEMANA  0 non-null      object
 4   VALOR       0 non-null      float64
 5   FUENTE      0 non-null      object
 6   URL         0 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 0.0+ bytes

Se corrige el tipo de la columna y se modifica el formato

Hacemos una 煤ltima revisi贸n

In [91]:
df_uci.duplicated().values.any()

False

In [92]:
df_uci.isnull().sum()

PAIS          0.0
INDICADOR     0.0
FECHA         0.0
ANO_SEMANA    0.0
VALOR         0.0
FUENTE        0.0
URL           0.0
dtype: float64

In [39]:
df_uci.head()

Empty DataFrame
Columns: [PAIS, INDICADOR, FECHA, ANO_SEMANA, VALOR, FUENTE, URL]
Index: []

Lambda que exporta el CSV en la misma ubicaci贸n que el original

In [38]:
import os
(lambda df, nombre_archivo: df.to_csv(os.path.join(os.path.dirname(os.path.abspath("df_vacunation.csv")), nombre_archivo), index=False))(df_vacunation, "DEF_df_vacunation.csv")